*{
	box-sizing: border-box;
}
body{
	margin:0;
	padding:0;
}
.row::after{
	content:"";
	display: table;
}
header{
	height:60px;
	background-color: purple;
	color:white;
	text-align: center;
}
section{
	display:flex;
}
article{
	flex:1;
	background: cyan;
	padding:10px 15px;
	margin:5px 8px;
	border-radius:5px;
}
article:nth-of-type(2){}
	
footer{
	height:60px;
	position:relative;
	padding:10px 30px;
	margin-bottom:0;
	text-align:center;
	background:rgb(200, 200,200);
}