pwd.txt
credentials.php
DbCredentials.php
TestFile.php
to-be-updated-online.html
admin/tests.php
*bootstrap*
*keys.txt
*.css.map
*.min.css.map
*.min.js
*.code-workspace
PHPMailer/
google-code-prettify/
photos/
images/
Archive/
!Archive/articles/
.sass-cache/
resources/font-awesome-4.7.0/
twitter_login_php/