#
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule /(.*)/(.*)/$ post.html.php?id=$1&title=$2
#RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteCond %{SCRIPT_FILENAME} !-f
 
#RewriteRule ^.*$ ./index.php 
#RewriteRule ^post/(\d+)*$ ./post.html.php?id=(\d+)*&title=$1
#RewriteRule ^topic/(\d+)*$ ./topic-page.html.php?name=$1
 
</IfModule>