@import "partials/layout";
//@import "partials/colors";

/* ||GENERAL STYLES */

body {
    font-family: Calibri, Tahoma, sans-serif, Arial;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

button {
    min-width: 100px;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    &:hover {
        cursor: pointer;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table,
tr {
    width: 100%;
    text-align: left;
}

th,
td {
    padding: 5px 10px;
}

blockquote,
q {
    quotes: none;
    &:before {
        content: '';
        content: none;
    }
    &:after {
        content: '';
        content: none;
    }
}

figcaption {
    text-align: left;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.group {
    &:before {
        content: '';
        display: table;
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.errors {
    padding: 1em;
    border: 1px solid;
    margin-bottom: 1em;
    overflow: auto;
    border-color: red;
    background: lightyellow;
    color: red;
    ul {
        margin-left: 1em;
    }
}

.hidden {
    display: none;
}

.meta-description {
    display: none;
}

.hide-in-mobile {
    @include for-tablet-portrait-down {
        display: none;
    }
}

.hide-in-bigger-screens {
    @include for-tablet-landscape-up {
        display: none;
    }
}

.flex-wrapper {
    @include flex-wrapper;
}

h1,
h2,
h3,
h4 {
    font-family: Tahoma, Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.05em;
    padding: 0.5em 0;
    @include for-tablet-portrait-down {
        letter-spacing: 0;
    }
}

h5,
h6 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: left;
}

h1 {
    @include for-tablet-portrait-down {
        font-size: 1.2rem;
        line-height: 1.2em;
    }
    @include for-tablet-landscape-up {
        font-size: 1.5rem;
        line-height: 1.25em;
    }
    @include for-desktop-up {
        font-size: 2rem;
        line-height: 1.5em;
    }
}

h2 {
    font-size: 1.75rem;
    @include for-tablet-portrait-down {
        font-size: 1.3rem;
        padding: 8px 0;
    }
}

h3 {
    font-size: 1.5rem;
    @include for-tablet-portrait-down {
        font-size: 1.2rem;
        padding: 6px 0;
    }
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.9rem;
    @include for-tablet-portrait-down {
        font-size: 0.8rem;
        padding: 6px 0;
    }
}

h6 {
    font-size: 0.8rem;
}

p {
    padding-bottom: 16px;
    line-height: 1.5em;
    text-align: justify;
    @include for-tablet-portrait-down {
        padding: 10px 0;
        font-size: 1.1em;
    }
    @include for-phone-only {
        text-align: left;
        line-height: 1.3em;
    }
    @include for-tablet-landscape-up {
        font-size: 1.2em;
    }
}


/* || LAYOUT AND STRUCTURE */


/* || Header Section */

header {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: rgb(250, 250, 249);
    @include for-phone-only {
        height: 3.75em;
    }
    @include for-tablet-portrait-down {
        width: 100%;
        height: 4.375em;
        z-index: 0;
    }
    @include for-tablet-landscape-up {
        height: 5.375em;
    }
    @include for-desktop-up {
        height: 6.375em;
    }
}

header {
    .social-media {
        display: none;
        font-size: 1.2em;
        word-spacing: 0.2em;
        @include for-tablet-landscape-up {
            position: absolute;
            top: 0;
            right: 10%;
            display: inline-block;
            min-width: 15%;
            height: 2em;
        }
    }
}

.fa {
    padding: 3px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    &:hover {
        opacity: 0.7;
    }
}

header {
    .fa-facebook,
    .fa-twitter,
    .fa-pinterest,
    .fa-instagram,
    .fa-linkedin {
        background: transparent;
        color: black;
    }
    a {
        color: black;
        &:hover {
            color: darkgray;
        }
    }
}


/* Banner  */

.banner-bar {
    display: inline-block;
    margin: 0;
    padding: 1em 34px;
    text-align: center;
    @include for-tablet-portrait-down {
        min-width: 70%;
        position: absolute;
        top: 0;
        left: 15%;
        padding: 0.8em;
        font-size: 1.3em;
    }
    @include for-tablet-landscape-up {
        min-width: 35%;
        height: 2em;
        font-size: 1.6em;
    }
}

.banner {
    font-family: Aladin;
}


/* Navigation */

.nav-bar {
    display: inline-block;
    margin: 0;
    padding: 0;
    @include for-tablet-portrait-down {
        display: block;
        width: 60px;
    }
    @include for-tablet-landscape-up {
        min-width: 50%;
    }
}

#dropdown-menu-btn {
    display: none;
    @include for-tablet-portrait-down {
        display: block;
        position: absolute;
        top: 3px;
        left: 3px;
        width: 50px;
        padding: 5px 15px;
        color: black;
        border: none;
        font-size: 1.625em;
        &:hover {
            cursor: pointer;
            background-color: #f0f0f0;
        }
    }
}

#closebtn {
    display: none;
    @include for-tablet-portrait-down {
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 2;
        width: 50px;
        padding: 5px 15px;
        color: black;
        font-size: 2em;
    }
    &:hover {
        cursor: pointer;
        background-color: #f0f0f0;
    }
}

.nav-content {
    font-family: Tahoma;
    @include for-tablet-portrait-down {
        display: none;
        position: absolute;
        top: 3.75em;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: #f0f0f0;
    }
    @include for-tablet-landscape-up {
        text-align: center;
        margin: 0;
        padding: 5px 0;
    }
    ul {
        list-style: none;
        @include for-tablet-landscape-up {
            display: inline-block;
        }
    }
    li {
        @include for-tablet-landscape-up {
            display: inline-block;
            padding: 0 10px;
        }
        @include for-tablet-portrait-down {
            background-color: #f0f0f0;
            padding: 5px 10px;
        }
    }
    a {
        padding: 8px 2px;
        font-size: 0.9em;
        @include for-tablet-portrait-down {
            display: block;
            text-align: left;
        }
        &:hover {
            color: darkgray;
        }
    }
}


/* Login / Profile  */

.log-account-section {
    display: inline-block;
    margin: 0;
    @include for-tablet-portrait-down {
        min-width: 20%;
        position: absolute;
        top: 10px;
        right: 10%;
        padding: 5px;
    }
    @include for-tablet-landscape-up {
        position: relative;
        right: 0;
        min-width: 10%;
        padding: 1em 0;
        text-align: center;
    }
}

.login-signup {
    display: block;
    width: 100%;
    margin: 0;
}

.account-photo-box {
    &:hover {
        .tooltip-text {
            visibility: visible;
            opacity: 1;
        }
    }
    @include for-tablet-landscape-up {
        height: 2.1875em;
    }
}

.image-photo {
    height: 2.2em;
    width: 2.2em;
    border-radius: 50%;
    &:hover {
        cursor: pointer;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    top: 10px;
    .tooltip-text {
        visibility: hidden;
        position: absolute;
        z-index: 1;
        right: 0;
        background: rgb( 35, 35, 60);
        color: #000;
        padding: 5px 0;
        border-radius: 6px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    p {
        font-size: 90%;
        line-height: 1em;
        text-align: left;
        padding: 3px 10px;
        color: rgb( 200, 200, 233);
        &:first-of-type {
            color: rgb(240, 240, 240);
        }
    }
}

#profile-checkbox-control {
    display: none;
    &:checked {
        + {
            .account-display-settings {
                display: block;
            }
        }
        ~ {
            .tooltip-text {
                visibility: hidden;
            }
        }
    }
}

.account-display-settings {
    display: none;
    min-width: 9.625em;
    position: relative;
    top: 0;
    right: 2em;
    z-index: 1;
    text-align: left;
    background: rgb( 35, 35, 60);
    color: #fff;
    border-radius: 5px;
    @include for-tablet-portrait-down {
        position: absolute;
        top: 2em;
        right: -20px;
    }
    @include for-tablet-landscape-up {
        position: absolute;
        top: 2em;
        right: -40px;
    }
    ul {
        list-style: none;
        li {
            padding: 2px 10px;
            border-bottom: thin groove gray;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    a {
        color: rgb( 200, 200, 233);
    }
}


/* || Footer Section */

footer {
    width: 100%;
    padding: 0.5em;
    background: rgb(0, 0, 0);
    ul {
        li {
            display: inline-table;
            @include for-tablet-portrait-down {
                display: none;
            }
        }
    }
    a {
        color: rgb(200, 200, 200);
        &:hover {
            color: rgb(240, 240, 240);
        }
    }
    span {
        color: gray;
    }
    .social-media {
        z-index: 3;
        font-size: 1.3em;
        @include for-tablet-portrait-down {
            width: 100%;
            display: block;
            padding: 5px 10px;
            text-align: center;
            word-spacing: 1em;
        }
        @include for-tablet-landscape-up {
            text-align: left;
        }
        @include for-desktop-up {
            text-align: center;
        }
    }
    .fa-facebook,
    .fa-twitter,
    .fa-pinterest,
    .fa-instagram,
    .fa-linkedin {
        background: transparent;
        color: white;
    }
}

.nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    word-spacing: 1em;
    @include for-tablet-landscape-up {
        min-width: 40%;
        text-align: right;
        padding-right: 5%;
    }
    a {
        font-size: 0.8em;
    }
}

.copyright {
    display: inline-block;
    text-align: center;
    padding: 0.5em;
    color: rgb(150, 150, 150);
    @include for-tablet-portrait-down {
        width: 100%;
        display: block;
        padding: 5px 10px;
    }
    @include for-tablet-landscape-up {
        min-width: 20%;
        margin: 0;
    }
}

.policies {
    display: inline-block;
    padding: 10px;
    word-spacing: 1em;
    @include for-tablet-portrait-down {
        width: 100%;
        display: block;
        padding: 5px 10px;
        text-align: center;
    }
    @include for-tablet-landscape-up {
        min-width: 35%;
        margin: 0;
        text-align: right;
    }
    a {
        font-variant: small-caps;
    }
}


/* || MAIN LAYOUT */

main {
    li {
        @include for-tablet-landscape-up {
            font-size: 1em;
        }
        @include for-desktop-up {
            font-size: 1.2em;
        }
        @include for-big-desktop-up {
            font-size: 1.3em;
        }
    }
}

section {
    display: block;
    width: 100%;
    padding: 2.5em 0;
    @include for-tablet-portrait-down {
        padding: 2em 0;
    }
    @include for-phone-only {
        padding: 1em 0;
    }
}

.section-one {
    margin: 0 auto;
    background-color: #02203a;
    color: #fff;
    @include for-phone-only {
        padding-top: 1em;
    }
}

.section-two {
    background-color: #f3f0d9;
    button {
        background-color: #02203a;
        color: #f3f0d9;
    }
}

.section-three {
    background-color: #175a49;
    color: white;
    button {
        background-color: #f3f0d9;
        color: black;
    }
}

.section-four {
    background-color: rgb(242, 245, 201);
    button {
        background-color: black;
        color: rgb(250, 250, 250);
    }
}

.section-five {
    background-color: rgb(250, 250, 250);
}

.border-not-last-child-div {
    div {
        &:not(:last-child) {
            border-bottom: solid thin gray;
        }
    }
}

.welcome {
    width: 60%;
    margin: 0 auto;
    padding: 0 16px;
    @include for-tablet-portrait-down {
        width: 100%;
    }
    @include for-tablet-landscape-up {
        width: 80%;
    }
    @include for-desktop-up {
        width: 60%;
    }
    h1 {
        text-align: center;
        @include for-phone-only {
            text-align: left;
            padding: 10px;
        }
    }
    p {
        font-family: Helvetica, sans-serif;
        text-align: justify;
        font-size: 1.3em;
        @include for-tablet-portrait-down {
            font-size: 1.2em;
            text-align: left;
        }
    }
}

.intro-paragraph {
    padding: 1em 16px;
    border-style: none;
    background-color: rgb(248, 248, 248);
}

.html-css,
.php-mysql,
.javascript,
.browse-topics,
.card {
    display: inline-block;
    vertical-align: top;
    @include for-tablet-portrait-down {
        display: block;
        margin: 0 auto;
    }
    @include for-phone-only {
        padding: 0 16px;
    }
}

.html-css {
    @include for-tablet-portrait-down {
        width: 80%;
    }
    @include for-phone-only {
        width: 100%;
    }
    @include for-tablet-landscape-up {
        width: 60%;
        margin: 0;
        padding-left: 5%;
    }
    @include for-desktop-up {
        width: 50%;
        margin: 0 4.5%;
        padding: 20px;
    }
}

.php-mysql {
    @include for-tablet-portrait-down {
        width: 80%;
    }
    @include for-phone-only {
        width: 100%;
    }
    @include for-tablet-landscape-up {
        width: 50%;
        padding-right: 16px;
    }
    @include for-desktop-up {
        width: 50%;
        margin: 0 4.5%;
        padding: 20px;
    }
}

.javascript {
    @include for-tablet-portrait-down {
        width: 80%;
    }
    @include for-phone-only {
        width: 100%;
    }
    @include for-tablet-landscape-up {
        width: 70%;
        padding-left: 5%;
    }
    @include for-desktop-up {
        width: 50%;
        margin: 0 4.5%;
        padding: 20px;
    }
}

.browse-topics {
    @include for-tablet-portrait-down {
        width: 80%;
        padding-left: 0;
    }
    @include for-phone-only {
        width: 100%;
        padding-left: 16px;
    }
    @include for-tablet-landscape-up {
        width: 35%;
        margin: 0;
        padding-left: 5%;
    }
    @include for-big-desktop-up {
        width: 30%;
    }
}

.card {
    width: 300px;
    background-color: rgb(213, 231, 245);
    color: black;
    margin: 0 5%;
    padding: 1em;
    @include for-tablet-portrait-down {
        margin: 2em auto;
    }
}

.card-title {
    text-align: center;
    padding: 1em 0;
}

.card {
    picture {
        float: left;
        padding: 0.5em;
        background-color: transparent;
    }
    button {
        display: block;
        border: none;
        outline: 0;
        width: 100%;
        margin-top: 1em;
        background-color: #000;
        color: #fff;
        font-size: 1.2em;
        text-align: center;
        &:hover {
            opacity: 0.9;
        }
        a {
            color: #fff;
        }
    }
}

.contact-media-links {
    text-align: center;
    a {
        color: black;
        font-size: 1.3em;
        padding: 0.3em 12px;
    }
}

.posts-section {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    @include for-phone-only {
        width: 100%;
    }
    @include for-desktop-up {
        width: 60%;
    }
}

.posts-snippets {
    padding-top: 32px;
    a {
        color: rgb(70, 67, 67);
        &:hover {
            text-decoration: underline;
            color: black;
        }
    }
}

.post-thumb-nail {
    display: block;
    float: left;
    padding: 0.2em 1em;
}

.published-topics {
    p {
        padding: 0;
        text-align: left;
    }
    a {
        display: block;
        padding: 0;
        text-align: left;
        color: #616D7E;
        &:hover {
            text-decoration: underline;
            color: #2B3856;
            padding-left: 5px;
        }
    }
    summary {
        font-size: 1em;
        color: rgb(5, 10, 50);
    }
    ul {
        display: inline-block;
        list-style: none;
        text-align: left;
        @include for-phone-only {
            padding-left: 10px
        }
        li {
            font-size: .9em;
            color: rgb(5, 10, 50);
        }
        ul {
            li {
                @include for-desktop-up {
                    font-size: .9em;
                }
            }
        }
    }
}

hr {
    border: thin solid rgb(240, 240, 240);
}


/* ||Layout for GRID Supporting browsers */

@supports(display: grid) {
    .grid-wrapper {
        @include grid-wrapper;
    }
    header {
        grid-column: 1/span 5;
        grid-row: 1;
        position: sticky;
        top: 0;
        @include for-tablet-landscape-up {
            padding-bottom: 0.5em;
        }
    }
    main {
        grid-column: 1/span 5;
        grid-row: 2;
        margin: 0 auto;
    }
    footer {
        grid-column: 1/span 5;
        grid-row: 3;
        padding: 0.5em;
    }
    header {
        .social-media {
            display: none;
            @include for-tablet-landscape-up {
                display: inline-block;
                grid-column: 4/span 1;
                grid-row: 1;
            }
        }
    }
    .banner-bar {
        grid-column: 2/span 3;
        grid-row: 1/span 2;
        @include for-tablet-landscape-up {
            grid-column: 1/span 2;
            grid-row: 1/span 1;
        }
    }
    .nav-bar {
        grid-column: 1/span 1;
        grid-row: 1/span 2;
        z-index: 1;
        @include for-tablet-landscape-up {
            grid-column: 3/span 2;
            grid-row: 2/span 1;
        }
    }
    .log-account-section {
        grid-column: 4/span 2;
        grid-row: 1/span 2;
        text-align: center;
        @include for-tablet-landscape-up {
            grid-column: 5/span 1;
            grid-row: 1/span 2;
            padding: 1em 24px;
        }
    }
    footer {
        .social-media {
            @include for-tablet-portrait-down {
                grid-column: 1/span 5;
                grid-row: 1;
                text-align: center;
            }
            @include for-tablet-landscape-up {
                grid-column: 1/span 2;
                grid-row: 1;
                word-spacing: 0.5em;
                text-align: left;
            }
            @include for-desktop-up {
                text-align: center;
            }
        }
    }
    .policies {
        text-align: center;
        @include for-tablet-portrait-down {
            grid-column: 1/span 5;
            grid-row: 2;
        }
        @include for-tablet-landscape-up {
            grid-column: 2/span 3;
            grid-row: 2;
            word-spacing: 0.5em;
        }
    }
    .copyright {
        @include for-tablet-portrait-down {
            grid-column: 1/span 5;
            grid-row: 3;
        }
        @include for-tablet-landscape-up {
            grid-column: 1/span 5;
            grid-row: 3;
        }
    }
    .nav {
        @include for-tablet-landscape-up {
            grid-column: 4/span 2;
            grid-row: 1;
            z-index: 1;
            text-align: center;
        }
    }
}