@import "partials/layout";

/* ||Main article section */
h2,h3,h4{
    padding: 1em 0 0.2em;
}

main {
    padding: 16px;
    table {
        th,
        td {
            border: thin solid rgb(200, 200, 200);
        }
        tbody {
            tr {
                &:nth-child(even) {
                    background: #f0f0f2;
                }
            }
        }
        th {
            font-weight: bold;
            background: rgb(200, 230, 200);
        }
        td {
            &:first-child {
                font-family: 'Courier New', courier;
                font-weight: bold;
            }
        }
    }
    p {
        line-height: 1.3em;
        text-align: justify;
        @include for-tablet-portrait-down {
            font-size: 1.1em;
        }
        @include for-tablet-landscape-up {
            font-size: 1.2em;
        }
        @include for-big-desktop-up {
            font-size: 1.3em;
        }
    }
    li {
        @include for-tablet-landscape-up {
            font-size: 1em;
        }
        @include for-desktop-up {
            font-size: 1.2em;
        }
        @include for-big-desktop-up {
            font-size: 1.3em;
        }
    }
}

.main-article {
    margin: 1em auto;
    padding: 1em 0.5em;
    background-color: transparent;
    @include for-tablet-portrait-down {
        width: 90%;
    }
    @include for-phone-only {
        width: 100%;
        margin: 0 auto;
        padding: 0.5em;
    }
    @include for-tablet-landscape-up {
        width: 70%;
    }
    @include for-desktop-up {
        width: 60%;
    }
}

.article-body {
    ul,
    ol {
        padding: .5em 2em;
        li {
            padding: .3em .5em;
            text-indent: 0;
        }
    }
}

.post-acreditation {
    padding: 0.5em;
    color: gray;
    font-size: 1em;
    @include for-tablet-portrait-down {
        padding-left: 10px;
    }
}

.subscribe-section {
    width: 100%;
    margin: 1em auto;
    padding: 1em;
    background-color: #E5E4E2;
    color: #333333;
}


/* ||Pre Code section */

pre {
    overflow-x: auto;
    padding: 10px;
    tab-size: 1;
    @include for-tablet-portrait-down {
        padding-left: 0;
    }
    @include for-tablet-landscape-up {
        padding-left: 1em;
    }
    @include for-desktop-up {
        padding-left: 1em;
    }
}

pre,
pre code {
    display: block;
    margin: 0;
}

code {
    padding: 0 2px;
    color: #000;
}

pre,
code {
    font-family: 'Courier New', Courier;
    font-size: 1em;
}

p code,
li code {
    background: rgb(230, 230, 230);
}

.special-p code {
    background: inherit;
}

.special-p {
    margin: 0.6em 0;
    padding: 10px;
    font-family: calibri;
    background: rgb(100, 200, 250);
    background: rgba(100, 200, 255, .4);
    border-left: 5px double red;
    border-right: 5px double red;
}

@media print {
    pre {
        overflow-x: visible;
        white-space: pre-wrap;
    }
}
