@import "partials/layout.scss";
@import "partials/visuals";
input[type="submit"] {
    padding: .6em;
    background-color: #0b3128;
    color: #ffffff;
    border: 1px solid #0b3128;
    cursor: pointer;
    &:hover {
        background-color: #175a49;
        border-color: #175a49;
    }
}

#subscribe {
    input {
        display: inline-block;
        width: auto;
        font-size: 1em;
        padding: .6em;
        &:active {
            border: solid thin silver;
        }
    }
}

.red {
    color: $red;
}

.errorMsg {
    color: #D83D5A;
}

.successMsg {
    color: #6B8E23;
    margin: 10px auto;
}

#error_msg {
    text-align: left;
    margin-left: 10px;
    color: red;
}

.subscribe_error {
    color: #C04000;
    font-weight: bold;
    padding: 10px 0;
}

.comment {
    textarea {
        border: thin solid #6D7B8D;
        border-radius: 10px;
        width: 90%;
    }
    input[type="submit"] {
        display: block;
        width: 5em;
        height: 2.5em;
        border-radius: 5px;
    }
}

.reply-textarea {
    background: rgb(245, 245, 245);
    border-radius: 10px;
    @include for-tablet-landscape-up {
        margin-left: 5%;
    }
}

.reply {
    input[type="submit"] {
        display: block;
        border-radius: 5px;
        margin-right: 10%;
        @include for-phone-only {
            width: 5em;
            height: 2.5em;
        }
        @include for-tablet-portrait-down {
            width: 5em;
            height: 2.5em;
        }
        @include for-tablet-landscape-up {
            width: 80px;
            height: 35px;
            margin-left: 70%;
        }
    }
    textarea {
        @include for-phone-only {
            width: 100%;
        }
        @include for-tablet-portrait-down {
            width: 90%;
        }
    }
    .reply-text {
        @include for-phone-only {
            margin-left: 1%;
        }
        @include for-tablet-portrait-down {
            margin-left: 1%;
        }
    }
}