@font-face {
  font-family: 'Aladin';
  font-display: swap; 
  src: url('../fonts/Aladin-Regular.ttf'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Aladin-Regular.ttf') format('opentype'), /* Modern Browsers */
       url('../fonts/Aladin-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
.banner-bar{
	text-align:left;
}
.section,#create-account,#login,#recover,#reset, #upload, #subscribe{
	border: 1px solid #d6d7da;
	border-radius: 5px; 
	background: rgb(249,249,249);
	line-height: 1em;
 }
form label, form input{
	display:block;
	margin-bottom:5px;
	width:90%;
}
form input[type="submit"]{
	padding:.6em 0;
	margin:1.6em auto;
	cursor:pointer;
}
form label{
	margin-top:0.9375em;
}
form input, form input[type="checkbox"]{ 
	border: solid 1px #3E606F; 
	border-radius: 5px;
	padding:.6em; 
}
form input:focus{
	border:solid thin silver;
}
form input[type="checkbox"]{
	width:1em;
	height:1em;
}
form input[type="checkbox"]{
	display:inline-block;
	vertical-align:middle;
	cursor:pointer;
}
form input[type="checkbox"]+p{
	display:inline;
	text-align:left;
}
form input[type="checkbox"]+a{
	padding:2em;
}
form a, 
#login +.section a,
#create-account +.section a,
#recover +.section a,
#reset +.section a,
#upload +.section a,
#subscribe +.section a{
	text-decoration:none;
	color:#2B65EC;
}
form a:hover,
#login +.section a:hover,
#create-account +.section a:hover,
#recover +.section a:hover,
#reset +.section a:hover,
#upload +.section a:hover,
#subscribe +.section a:hover{
	text-decoration:underline;
	color:#2B65EC;
}
form .form_image{
	text-align:center;
	padding:.625em;
}
.button {
background-color:#008080;
border: ridge thin #008080;
font-weight: bold;
padding: 12px 15px;
color: #ffffff;
margin:0 auto;
}
.reply-textarea{
	background:rgb(245,245,245);
	border-radius:5px;
}
.reply form input[type="submit"]{
	border-radius:5px;
	background:#6D7B8D;
	font-weight:bold;
	color:black;
	margin-right:10%;
}
.red{
	color:red;
}
.centered{
	text-align:center;
}
.errorMsg{
	color: #D83D5A;	
	}
.successMsg{
 color: #6B8E23;
 margin: 10px auto;
}
#error_msg {
  text-align: left;
  margin-left: 10px;
  color: red;
}
.subscribe_error{
	color:#C04000;
	font-weight:bold;
	padding:10px 0;
}
#create-account ul,#reset ul, #upload ul  {
	padding-left:10px;
}
.form-p{
	line-height:1;
	margin:5px auto;
}
.form-guidelines{
	line-height:1.2;
	padding:.5em;
	background:rgb(256,256,0);
	background:rgba(256,256,0,0.2);
}
.form_error span{
	width: 80%;
	margin: 3px 0;
	color: #D83D5A;
}
.form_error input {
  border: 1px solid #D83D5A;
  background:rgb(256,256,0);
  background:rgba(256,256,0,0.3);
}
.form_success span {
  width: 80%;
  margin: 3px 0;
  color: green;
}
.form_success input {
  border: 1px solid green;
}
/*
*** TYPOGRAPHY ***
*/
.banner-bar{
	font-family: Aladin;
	color:#000;
}
.section,#create-account,#login,#recover,#reset, #upload, #subscribe{
	font-family: arial; 
	color: #333333; 
 }
.form-p{
	font-size:.9em;
}
form label, form input[type="submit"]{
	font-size:1em;
}
@media only screen and (max-width:480px){
.section,#create-account,#login, #recover,#reset, #upload, #subscribe{
	max-width: 80%;
}
.section,#create-account,#login, #recover,#reset, #upload, #subscribe{
padding: 0px 5px; 
line-height: 16px;
margin: 1.875em auto 1.25em auto;

}
#subscribe{
	max-width: 100%;
}
#subscribe input[type="submit"]{
	margin:15px auto 10px 0;
}
form input[type="submit"]{
	width:95%;
}
.section{
	margin:.9375em auto;
	padding:.6em auto;
}
.comment form textarea{
    	width:90%;
}
.comment form textarea{
	border:thin solid #6D7B8D;
	border-radius:5px;
}
.comment form input[type="submit"]{
	width:5em;
	height:2.5em;
	border-radius:5px;
	background:#6D7B8D;
}
.reply form input[type="submit"]{
	width:5em;
	height:1.875em;
}
.reply form textarea{
	width:100%;
}
.reply .reply-text{
	margin-left:1%;
}
.form_error span{
	height: 20px;
}
.form_success span {
  height: 20px;
}
/*
*** TYPOGRAPHY ***
*/
.form-guidelines{
	font-size:.7em;
}
.comment form input[type="submit"]{
	font-weight:bold;
	color:black;
}
.form_error span{
	font-size: 1em;
}
.form_success span {
  font-size: 1em;
}
}
@media only screen and (min-width:480px)and (max-width:600px){
.section,#create-account,#login, #recover,#reset, #upload, #subscribe{
	max-width: 60%;
}
.section,#create-account,#login, #recover,#reset, #upload, #subscribe{
padding: 0px 5px; 
line-height: 16px;
margin: 1.875em auto 1.25em auto;

}
#subscribe{
	max-width: 80%;
}
#subscribe input[type="submit"]{
	margin:15px auto 10px 0;
}
form input[type="submit"]{
	width:95%;
}
.section{
	margin:.9375em auto;
	padding:.6em auto;
}
.comment form textarea{
    	width:90%;
}
.comment form textarea{
	border:thin solid #6D7B8D;
	border-radius:5px;
}
.comment form input[type="submit"]{
	width:5em;
	height:2.5em;
	border-radius:5px;
	background:#6D7B8D;
}
.reply form input[type="submit"]{
	width:5em;
	height:1.875em;
}
.reply form textarea{
	width:100%;
}
.reply .reply-text{
	margin-left:1%;
}
.form_error span{
	height: 20px;
}
.form_success span {
  height: 20px;
}
/*
*** TYPOGRAPHY ***
*/
.form-guidelines{
	font-size:.7em;
}
.comment form input[type="submit"]{
	font-weight:bold;
	color:black;
}
.form_error span{
	font-size: 1em;
}
.form_success span {
  font-size: 1em;
}
}
@media only screen and (min-width:600px){
.section,#create-account,#login, #recover,#reset, #upload{
max-width: 23em; 
}
.section,#create-account,#login, #recover,#reset, #upload{ 
padding: 0 15px 15px 15px;  
margin: 35px auto 20px auto;
}
#subscribe{
	max-width:90%;
}
#subscribe{
	padding: 0 5px;
	line-height: 1em;
	margin: 1.875em auto 1.25em auto;
}
form input[type="submit"]{
	width:90%;
}
#subscribe input[type="submit"]{
	margin-left:0;
}
.section{
margin:20px auto;
}
.right-align{
	position:relative;
	left:35%;
	text-align:right;	
}
.comment form textarea{
	border:thin solid #6D7B8D;
	border-radius:10px;
}
.comment form input[type="submit"]{
	width:100px;
	height:40px;
	border-radius:5px;
	background:#6D7B8D;
	font-weight:bold;
	color:black;
}
.reply form input[type="submit"]{
	width:80px;
	height:35px;
	margin-left:70%;
}
.reply form textarea{
	width:90%;
}
.reply-textarea{
	margin-left:5%;
}
.form_error span{
	height: 30px;
}
.form_success span {
  height: 30px;
}
/*
*** TYPOGRAPHY ***
*/
form input{ 
font-size:1em;
}
.form-guidelines{
	font-size:.8em;
}
.comment form input[type="submit"]{
	font-weight:bold;
	color:black;
}
.form_error span{
	font-size: 1.1em;
}
.form_success span {
 font-size: 1.1em;
}
}
