@font-face{
	font-family: 'Aladin';
	src:local(Aladin), url('../fonts/Aladin-Regular.ttf') format('opentype');
}
.banner-bar{
	font-family: Aladin;
	color:000;
	text-align:left;
}
.section,#create-account,#login,#recover,#reset, #upload, #subscribe{
	border: 1px solid #d6d7da;
	border-radius: 5px;
	font-family: arial; 
	color: #333333; 
	background: rgb(249,249,249);
	line-height: 16px;
	color: #333333;
 }
form label, form input{
	display: block;
	margin-bottom: 5px;
	width: 90%;
	}
form label{
	margin-top:10px;
}
form input{ 
border: solid 1px #3E606F; 
border-radius: 5px;
}
form input:focus{
	border:solid thin silver;
}
form a, 
#login +.section a,
#create-account +.section a,
#recover +.section a,
#reset +.section a,
#upload +.section a,
#subscribe +.section a{
	text-decoration:none;
	color:blue;
}
form .form_image{
	text-align:center;
	padding:10px;
}
.button {
background-color:#008080;
border: ridge thin #008080;
font-weight: bold;
padding: 12px 15px;
color: #ffffff;
margin:0 auto;
}
.reply-textarea{
	background:rgb(245,245,245);
	border-radius:5px;
}
.reply form input[type="submit"]{
	border-radius:5px;
	background:#6D7B8D;
	font-weight:bold;
	color:black;
	margin-right:10%;
}
.red{
	color:red;
}
.centered{
	text-align:center;
}
.errorMsg{
	color: #D83D5A;	
	}
.successMsg{
 color: #6B8E23;
 margin-bottom: 10px;
}
.subscribe_error{
	color:#C04000;
	font-weight:bold;
	padding:10px 0;
}
h3,h4{
	text-align:center;
}
.form-p{
	line-height:1;
	margin:5px auto;
	padding:10px;
}
#create-account ul,#reset ul, #upload ul  {
	padding-left:10px;
	font-size:10px;
}
.form_error span{
	width: 80%;
	margin: 3px 0;
	color: #D83D5A;
}
.form_error input {
  border: 1px solid #D83D5A;
  background:rgba(256,256,0,0.3);
}
.form_success span {
  width: 80%;
  margin: 3px 0;
  color: green;
}
.form_success input {
  border: 1px solid green;
}
#error_msg {
  text-align: left;
  margin-left: 10px;
  color: red;
}
@media only screen and (max-width:600px){
.section,#create-account,#login, #recover,#reset, #upload, #subscribe{
width: 250px; 
padding: 0px 5px; 
line-height: 16px;
font-size: 14px; 
margin: 30px auto 20px auto;

}
#subscribe{
	max-width: 100%;
}
#subscribe input[type="submit"]{
	margin:15px 0 10px 0;
}
form input{ 
padding: 8px; 
}
form input[type="submit"]{
	margin:15px auto 10px auto;
}
.section{
	margin:15px auto;
}
.comment form textarea{
	width:90%;
	border:thin solid #6D7B8D;
	border-radius:5px;
}
.comment form input[type="submit"]{
	width:80px;
	height:40px;
	border-radius:5px;
	background:#6D7B8D;
	font-weight:bold;
	color:black;
}

.reply form input[type="submit"]{
	width:80px;
	height:30px;
}
.reply form textarea{
	width:100%;
}
.
.reply .reply-text{
	margin-left:1%;
}
.form_error span{
	height: 20px;
	font-size: 1em;
}

.form_success span {
  height: 20px;
  font-size: 1em;
}
}
@media only screen and (min-width:600px){
 .section,#create-account,#login, #recover,#reset, #upload, #subscribe{
width: 300px; border: 1px solid #d6d7da; 
padding: 0px 15px 15px 15px; 
border-radius: 5px;font-family: arial; 
font-size: 14px; 
margin: 35px auto 20px auto;
}
.section{
	margin:20px auto;
}
form input{ 
padding: 10px;

}
form input[type="submit"]{
	margin:20px 0 10px 0;
}

.right-align{
	position:relative;
	left:35%;
	text-align:right;	
}
.comment form textarea{
	border:thin solid #6D7B8D;
	border-radius:10px;
}
.comment form input[type="submit"]{
	width:100px;
	height:40px;
	border-radius:5px;
	background:#6D7B8D;
	font-weight:bold;
	color:black;
}
.reply form input[type="submit"]{
	width:80px;
	height:35px;
	margin-left:70%;
}
.reply form textarea{
	width:90%;
}
.reply-textarea{
	margin-left:5%;
}
.form_error span{
	height: 30px;
	font-size: 1.1em;
}

.form_success span {
  height: 30px;
  font-size: 1.1em;
}
}