.section,#register,#login, #recover,#reset, #upload{
	border: 1px solid #d6d7da;
	border-radius: 5px;
	font-family: arial; 
	color: #333333; 
	background: rgb(249,249,249);
	line-height: 16px;
	color: #333333;
 }
form label, form input{
	display: block;
	margin-bottom: 5px;
	width: 90%;
	}
form input{ 
border: solid 1px #BDC7D8; 
}
.button {
background-color:#008080;
border-color: #43C6DB;
font-weight: bold;
padding: 12px 15px;
color: #ffffff;
margin:0 auto;
}
.error{
	color:red;
}
.errorMsg{
	color: #F87217;
	font-weight:bold;
	}
.successMsg{
 color: #6B8E23;
 margin-bottom: 10px;
}
h3,h4,p{
	text-align:center;
}
@media only screen and (max-width:600px){
.section,#register,#login, #recover,#reset, #upload{
width: 250px; 
padding: 0px 5px; 
line-height: 16px;
font-size: 14px; 
margin: 50px auto 20px auto;

}
form input{ 
padding: 5px; 
}
form label{
	margin-top:15px;
}
form input[type="submit"]{
	margin-top:15px;
	margin-bottom: 10px;
}
.section{
	margin:15px auto;
}
 }
@media only screen and (min-width:600px){
 .section,#register,#login, #recover,#reset, #upload{
width: 300px; border: 1px solid #d6d7da; 
padding: 0px 15px 15px 15px; 
border-radius: 5px;font-family: arial; 
font-size: 14px; 
margin: 50px auto 20px auto;

}
.section p{
	text-align:left;
}
.section{
	margin:20px auto;
}
form label{
	margin-top:20px;
}
form input{ 
padding: 10px;

}
form input[type="submit"]{
	margin-top:20px;
	margin-bottom: 10px;
}

.right-align{
	position:relative;
	left:35%;
	text-align:right;	
}

)