body {
  background: #fff;
  line-height: 1.3;
  font-family: 'Calibri Light', Calibri, sans-serif; }

figcaption {
  text-align: left; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  clear: both;
  *zoom: 1; }

a {
  text-decoration: none; }

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0; }

tr {
  width: 100%;
  text-align: left; }

th,
td {
  padding: 5px 10px;
  border: thin solid #c8c8c8; }

blockquote {
  quotes: none; }
  blockquote:before {
    content: '';
    content: none; }
  blockquote:after {
    content: '';
    content: none; }

q {
  quotes: none; }
  q:before {
    content: '';
    content: none; }
  q:after {
    content: '';
    content: none; }

.errors {
  padding: 1em;
  border: 1px solid red;
  background: lightyellow;
  color: red;
  margin-bottom: 1em;
  overflow: auto; }
  .errors ul {
    margin-left: 1em; }

.social-media {
  text-align: center; }

em,
i {
  font-style: italic; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.hidden {
  display: none; }

header {
  background-color: #293f50; }
  @media (max-width: 599px) {
    header {
      position: sticky;
      top: 0;
      width: 100%;
      height: 3.75em;
      z-index: 0; } }
  @media (min-width: 600px) {
    header {
      height: 4.375em; } }
  @media (min-width: 768px) {
    header {
      height: 5.375em; } }
  @media (min-width: 992px) {
    header {
      height: 6.375em; } }

.banner-bar {
  float: left;
  display: block;
  margin: 0;
  padding-top: .6em;
  padding-left: 1em;
  font-family: Aladin;
  text-align: left;
  font-size: 1.4em; }
  .banner-bar a {
    color: white; }
    .banner-bar a:hover {
      color: #c8c8e9;
      cursor: pointer; }
  @media (max-width: 599px) {
    .banner-bar {
      width: 60%;
      padding-top: 0.5em;
      padding-left: 30%; } }
  @media (min-width: 600px) {
    .banner-bar {
      width: 25%; } }
  @media (min-width: 768px) {
    .banner-bar {
      font-size: 1.8em; } }

.nav-bar {
  display: block;
  margin: 0;
  padding: 0; }
  @media (max-width: 599px) {
    .nav-bar {
      width: 10%; } }
  @media (min-width: 600px) {
    .nav-bar {
      float: left;
      width: 55%;
      padding-top: 1em; } }
  @media (min-width: 768px) {
    .nav-bar {
      padding-top: 1.65em; } }

.nav-content span {
  color: #c8c8c8; }
@media (max-width: 599px) {
  .nav-content {
    display: none;
    position: absolute;
    top: 3.75em;
    left: 0;
    height: 100%;
    width: 100%;
    background: #23233c;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1; } }
@media (min-width: 600px) {
  .nav-content {
    text-align: center;
    margin: 0;
    padding: 5px 0; } }
.nav-content ul {
  list-style: none; }
  @media (min-width: 600px) {
    .nav-content ul {
      text-align: center; } }
  @media (max-width: 599px) {
    .nav-content ul > span {
      display: none; } }
@media (max-width: 599px) {
  .nav-content li {
    background: #23233c;
    font-size: 1em;
    padding: 5px 10px; } }
@media (min-width: 600px) {
  .nav-content li {
    display: inline-block;
    font-size: 1.2em; } }
@media (min-width: 768px) {
  .nav-content li {
    padding: 5px; } }
.nav-content li:hover {
  background-color: #334F5C;
  cursor: pointer; }
  @media (max-width: 599px) {
    .nav-content li:hover {
      background: #232332; } }
.nav-content a {
  font-variant: small-caps;
  padding: 8px 2px;
  color: white; }
  @media (max-width: 599px) {
    .nav-content a {
      text-decoration: none;
      display: block;
      text-align: left;
      font-size: 1em; } }

.closebtn {
  display: none; }
  @media (max-width: 599px) {
    .closebtn {
      font-size: 1.75em;
      position: absolute;
      top: 0;
      right: 10px;
      color: white;
      margin-left: 50px; } }

.log-account-section {
  display: block;
  float: right; }
  .log-account-section span {
    color: white; }
  @media (max-width: 599px) {
    .log-account-section {
      height: 60px;
      width: 30%;
      text-align: right;
      padding-right: 15%; } }
  @media (min-width: 600px) {
    .log-account-section {
      width: 20%;
      margin: 0;
      padding: 0;
      padding-top: .5em;
      text-align: right; } }

.login-signup {
  display: inline-block;
  margin: 0;
  width: 100%;
  padding: 1em;
  font-size: 1em; }
  @media (max-width: 599px) {
    .login-signup {
      position: absolute;
      right: 1.875em; } }
  @media (min-width: 600px) {
    .login-signup {
      position: absolute;
      right: 1.875em;
      font-size: 1.2em; } }
  .login-signup a {
    color: #c8c8e9; }
    .login-signup a:hover {
      text-decoration: underline;
      font-weight: bold;
      cursor: pointer; }
  .login-signup span {
    color: #c8c8c8; }

@media (max-width: 599px) {
  .account-photo-box {
    float: right;
    width: 40%;
    height: 1.875em; } }
@media (min-width: 600px) {
  .account-photo-box {
    float: right;
    height: 2.1875em;
    position: absolute;
    right: 2.875em; } }
.account-photo-box:hover .tooltip-text {
  visibility: visible;
  opacity: 1; }

.image-photo {
  border: 3px solid #2b5959;
  border-radius: 50%; }
  .image-photo:hover {
    cursor: pointer; }
  @media (max-width: 599px) {
    .image-photo {
      height: 2.2em;
      width: 2.2em; } }
  @media (min-width: 600px) {
    .image-photo {
      height: 2.5em;
      width: 2.5em; } }
  @media (min-width: 768px) {
    .image-photo {
      height: 3em;
      width: 3em; } }

.tooltip {
  position: relative;
  display: inline-block;
  top: 10px; }
  .tooltip .tooltip-text {
    visibility: hidden;
    background: #23233c;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s; }
    .tooltip .tooltip-text p {
      font-size: 90%;
      line-height: 1;
      text-align: left;
      padding: 3px 10px;
      color: #c8c8e9; }
      .tooltip .tooltip-text p:first-of-type {
        color: #f0f0f0; }

#profile-checkbox-control {
  display: none; }
  #profile-checkbox-control:checked + .account-display-settings {
    display: block;
    text-align: left; }
  #profile-checkbox-control:checked ~ .tooltip-text {
    visibility: hidden; }

.account-display-settings {
  display: none;
  min-width: 9.625em;
  position: relative;
  top: 0;
  background: #23233c;
  color: #fff;
  border-radius: 5px;
  z-index: 1; }
  @media (max-width: 599px) {
    .account-display-settings {
      position: absolute;
      top: 2em;
      right: 0; } }
  .account-display-settings ul {
    list-style: none; }
    .account-display-settings ul li {
      padding: 2px 10px;
      border-bottom: thin groove gray; }
      .account-display-settings ul li:last-child {
        border-bottom: none; }
  .account-display-settings a {
    font-size: 1em;
    text-align: left;
    color: #c8c8e9; }
    .account-display-settings a:hover {
      color: #fff; }

#dropdown-menu-btn {
  display: none; }
  @media (max-width: 599px) {
    #dropdown-menu-btn {
      font-size: 1.625em;
      display: block;
      position: absolute;
      top: 0;
      width: 50px;
      text-align: right;
      padding: 10px 15px;
      color: white;
      border: none; }
      #dropdown-menu-btn:hover {
        cursor: pointer;
        background-color: #23233c; } }

footer {
  width: 100%;
  padding: 0;
  background: #0b0a0a;
  background: rgba(11, 10, 10, 0.82); }
  @media (max-width: 599px) {
    footer {
      text-align: center; } }
  footer a {
    font-variant: small-caps;
    text-decoration: none;
    color: #c8c8c8; }
    footer a:hover {
      color: #f0f0f0; }
  footer span {
    color: silver; }
    @media (max-width: 599px) {
      footer span {
        float: none; } }
    @media (max-width: 599px) {
      footer span:first-child {
        padding-bottom: 5px; } }
  footer ul li {
    display: inline-table; }
    @media (max-width: 599px) {
      footer ul li {
        padding-top: 5px;
        padding-bottom: 10px; } }

.nav {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0; }
  @media (min-width: 768px) {
    .nav {
      width: 35%;
      float: right;
      padding: 10px 0; } }

.copyright {
  display: block;
  text-align: center;
  color: #969696; }
  @media (min-width: 768px) {
    .copyright {
      width: 25%;
      float: left;
      margin: 0;
      padding: 10px 0; } }

.policies {
  display: block;
  text-align: center; }
  @media (min-width: 768px) {
    .policies {
      float: right;
      text-align: center;
      width: 40%;
      margin: 0;
      padding: 10px 0; } }

.meta-description {
  display: none; }

@media (max-width: 599px) {
  .hide-in-mobile {
    display: none; } }
@media (min-width: 600px) {
  .hide-in-mobile {
    display: none; } }

@media (min-width: 768px) {
  .hide-in-bigger-screens {
    display: none; } }

@media (max-width: 599px) {
  [class*="col-"] {
    width: 100%; } }
@media (min-width: 600px) {
  [class*="col-"] {
    width: 100%; } }

@media (min-width: 768px) {
  .col-5-10 {
    display: inline-block;
    vertical-align: top;
    float: left; } }

@media (min-width: 768px) {
  .col-2-10,
  .col-3-10 {
    float: right;
    display: block; } }

@media (min-width: 768px) {
  .col-2-10 {
    width: 35%; } }
@media (min-width: 992px) {
  .col-2-10 {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    float: left; } }

@media (min-width: 768px) {
  .col-3-10 {
    width: 35%; } }
@media (min-width: 992px) {
  .col-3-10 {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    float: left; } }

@media (min-width: 768px) {
  .col-5-10 {
    width: 65%; } }
@media (min-width: 992px) {
  .col-5-10 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    float: left; } }

main {
  margin: 0 auto; }
  @media (min-width: 600px) {
    main {
      width: 100%; } }
  @media (min-width: 992px) {
    main {
      width: 95%;
      padding: 5px;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    main {
      width: 90%;
      margin: 0 auto;
      margin: 30px 5px; } }
  main table th {
    font-weight: bold;
    background: #c8e6c8; }
  main table td:first-child {
    font-family: 'Courier New', courier;
    font-weight: bold; }
  main table tbody tr:nth-child(even) {
    background: #f0f0f2; }
  main p {
    line-height: 1.5em;
    text-align: justify;
    padding: 10px 0; }
    @media (max-width: 599px) {
      main p {
        text-align: left;
        padding: 10px;
        font-size: 1.1em; } }
    @media (min-width: 600px) {
      main p {
        font-size: 1.1em; } }
    @media (min-width: 768px) {
      main p {
        font-size: 1em; } }
    @media (min-width: 992px) {
      main p {
        font-size: 1.2em; } }
    @media (min-width: 1200px) {
      main p {
        font-size: 1.3em; } }
  @media (min-width: 600px) {
    main li {
      font-size: 1.1em; } }
  @media (min-width: 768px) {
    main li {
      font-size: 1em; } }
  @media (min-width: 992px) {
    main li {
      font-size: 1.2em; } }
  @media (min-width: 1200px) {
    main li {
      font-size: 1.3em; } }

.post-main-image {
  padding: 1em;
  padding-left: 2em; }

@media (max-width: 599px) {
  .article-index-image {
    max-width: 300px; } }
@media (min-width: 600px) {
  .article-index-image {
    max-width: 400px; } }

.article-post-image {
  width: 100%; }

.post-acreditation {
  color: gray;
  font-size: 0.725em;
  padding: 10px 0; }
  @media (max-width: 599px) {
    .post-acreditation {
      font-size: 0.725em;
      padding-left: 10px; } }

.paragraph-snippet {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 90%;
  line-height: 1.4;
  padding: 5px;
  border: 0 solid;
  box-shadow: 0 5px 5px grey; }

.main-article ul,
.main-article ol {
  padding: .5em 2em; }
  .main-article ul li,
  .main-article ol li {
    text-indent: 0;
    padding: .3em .5em; }

pre,
pre code,
samp {
  display: block;
  margin: 0; }

pre {
  font-size: 1.1em;
  tab-size: 1;
  overflow-x: auto;
  padding: 10px 0;
  margin: 0; }

code {
  font-family: 'Courier New', Courier;
  font-size: 1em;
  color: #000;
  padding: 0 2px; }

p code,
li code {
  background: #e6e6e6; }

.special-p {
  padding: 10px;
  font-family: calibri;
  background: #64c8fa;
  background: rgba(100, 200, 255, 0.4);
  border-left: 5px double red;
  border-right: 5px double red; }

.special-p code {
  background: inherit; }

section {
  padding: 10px;
  text-align: justify; }
  @media (max-width: 599px) {
    section {
      width: 100%;
      padding: 5px; } }
  @media (min-width: 768px) {
    section {
      display: inline-block;
      padding: 0 3%; } }
  @media (min-width: 992px) {
    section {
      display: inline-block;
      padding: 0 10px; } }
  @media (min-width: 1200px) {
    section {
      padding: 0 20px; } }

aside {
  padding: 10px;
  text-align: left; }
  @media (max-width: 599px) {
    aside {
      width: 100%;
      padding: 5px;
      text-align: left; } }
  @media (min-width: 600px) {
    aside {
      text-align: left;
      padding-left: 10px; } }
  @media (min-width: 768px) {
    aside {
      display: inline-block;
      padding-left: 1.25em;
      text-align: left; } }
  @media (min-width: 992px) {
    aside {
      display: inline-block;
      padding-left: 10px;
      text-align: left; } }
  @media (min-width: 1200px) {
    aside {
      padding-left: 0;
      text-align: left; } }
  @media (max-width: 599px) {
    aside ul,
    aside ol {
      text-indent: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside ul,
    aside ol {
      text-indent: 0;
      padding: 0; } }
  @media (min-width: 768px) {
    aside ul,
    aside ol {
      text-indent: 0;
      padding: 0; } }
  @media (min-width: 992px) {
    aside ul,
    aside ol {
      text-indent: 0;
      padding: 0; } }
  @media (min-width: 1200px) {
    aside ul,
    aside ol {
      text-indent: 0;
      padding: 0; } }

.contact-me {
  margin: 3em auto;
  padding: 20px;
  background-color: #E5E4E2; }
  @media (max-width: 599px) {
    .contact-me {
      margin: 1.5em auto; } }
  @media (min-width: 600px) {
    .contact-me {
      margin: 1.5em auto; } }
  .contact-me img {
    float: right;
    margin: 10px;
    border-radius: 50%; }
  .contact-me p {
    font-family: arial;
    font-size: 1.2em; }
  .contact-me button:hover {
    cursor: pointer; }

.subscribe-section {
  width: 100%;
  margin: 1em auto;
  padding: 1em;
  background-color: #E5E4E2;
  color: #333333; }

.comments-container hr {
  margin: 0;
  border: thin solid silver; }
.comments-container p {
  font-size: 100%; }

.comments-section {
  margin-top: 10px;
  font-family: "Times New Roman";
  font-size: 100%; }
  .comments-section .hide-comment-id {
    display: none; }
  .comments-section .profile-photo {
    float: left;
    width: 10%;
    margin-top: 5px; }
  .comments-section .comments-detail {
    float: right;
    width: 90%;
    margin-top: 5px;
    padding-left: 5px; }
    .comments-section .comments-detail a {
      margin: 0 10px;
      font-family: Arial; }
  .comments-section .comment-text {
    padding-top: 0;
    line-height: 1.2; }
    @media (max-width: 599px) {
      .comments-section .comment-text {
        text-align: left; } }

.replies-profile-photo {
  float: left;
  margin-left: 30px; }
  @media (max-width: 599px) {
    .replies-profile-photo {
      margin-left: 10px; } }

.replies-detail {
  float: right;
  width: 85%;
  margin-top: 5px;
  padding: 5px 10px;
  text-align: left;
  line-height: 1.2;
  background: gainsboro;
  border-radius: 0 10px/ 10px 20px; }
  .replies-detail .reply-text {
    text-align: left;
    padding: 3px 0 5px 0; }
  .replies-detail .user-info {
    font-size: 90%; }

button {
  border: none;
  padding: 3px 10px;
  border-radius: 45%;
  background: silver; }

.reply-btn {
  color: black; }
  @media (max-width: 599px) {
    .reply-btn {
      margin-left: 5px;
      font-size: 0.9em; } }

.user-info .created-date {
  padding-left: 5px;
  font-style: italic; }
.user-info .username {
  font-family: sans-serif;
  color: #323232;
  font-weight: bold;
  font-size: 90%; }

.reply {
  width: 100%; }
  @media (max-width: 599px) {
    .reply {
      margin-left: 5px; } }

@media (min-width: 600px) {
  .reply-thread {
    font-size: 0.9em; } }

.reply-form {
  margin: 5px;
  display: none; }
  @media (max-width: 599px) {
    .reply-form {
      margin-left: 5px; } }

div[class^="group replies_container_"] {
  display: none; }

.fa {
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 3px 0; }
  .fa:hover {
    opacity: 0.7; }

.fa-facebook {
  background: #3b5998;
  color: white; }

.fa-twitter {
  background: #1DA1F2;
  color: white; }

.fa-linkedin {
  background: #007bb5;
  color: white; }

.fa-pinterest {
  background: #cb2027;
  color: white; }

.fa-whatsapp {
  background: #00b489;
  color: white; }

strong {
  font-weight: bold; }

b {
  font-weight: bold; }

.pagination .load-prev {
  display: none; }

details > summary {
  cursor: pointer; }

@media (max-width: 599px) {
  .recent-posts {
    padding-left: 10px; } }
.recent-posts a {
  color: #616D7E; }
  .recent-posts a:hover {
    text-decoration: underline;
    color: #2B3856;
    padding-left: 5px; }
.recent-posts p {
  display: block;
  padding: 0;
  font-family: calibri, Arial;
  text-align: left;
  font-size: .9em; }

.published-topics p {
  font-family: calibri, Arial;
  padding: 0;
  text-align: left; }
.published-topics a {
  display: block;
  padding: 0;
  text-align: left;
  color: #616D7E; }
  .published-topics a:hover {
    text-decoration: underline;
    color: #2B3856;
    padding-left: 5px; }
.published-topics summary {
  font-size: 1em;
  color: #050a32; }
.published-topics ul {
  display: inline-block;
  list-style: none;
  text-align: left; }
  @media (max-width: 599px) {
    .published-topics ul {
      padding-left: 10px; } }
  .published-topics ul li {
    font-size: .9em;
    color: #050a32; }
  @media (min-width: 992px) {
    .published-topics ul ul li {
      font-size: .9em; } }

hr {
  border: thin solid #f0f0f0; }

h1,
h2,
h3,
h4 {
  font-family: sans-serif, arial;
  font-weight: bolder;
  text-align: left;
  padding-top: 1em;
  line-height: .9; }

h1 {
  font-size: 1.3em;
  color: #071418; }
  @media (max-width: 599px) {
    h1 {
      padding-left: 10px; } }

h2 {
  font-size: 1.1em;
  color: #071418; }
  @media (max-width: 599px) {
    h2 {
      padding-left: 10px; } }

h3 {
  font-size: 1.1em;
  color: #050a32; }
  h3 a {
    color: #050a32; }
  @media (max-width: 599px) {
    h3 {
      padding-left: 10px; } }

h4 {
  font-size: 1.2em; }
  @media (max-width: 599px) {
    h4 {
      padding-left: 10px; } }

h5 {
  padding: 10px;
  line-height: 1.3;
  text-align: left; }

@media (max-width: 599px) {
  pre {
    padding-left: 0; } }
@media (min-width: 600px) {
  pre {
    padding-left: 0; } }
@media (min-width: 768px) {
  pre {
    padding-left: 1em; } }
@media (min-width: 992px) {
  pre {
    padding-left: 1em; } }

@media print {
  pre {
    overflow-x: visible;
    white-space: pre-wrap; } }

/*# sourceMappingURL=main.css.map */
