/*
============================================================
Browser display reset: Ensure cross-browser consistency
============================================================
 http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
	background:white;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
}
ol, ul {
  list-style: none;
}

a{
	text-decoration:none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
_____________________________________________________________
General Styles
_____________________________________________________________
*/
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.errors{
	padding:1em;
	border:1px solid red;
	background:lightyelloe;
	color:red;
	margin-bottom:1em;
	overflow:auto;
}
.float-right{
	
	float:right;
}
.float-left{

	float:left;
}
.errors ul{
	margin-left:1em;
}

header, footer{
	width:100%;
	padding:0;
	font-family:Calibri, 'Arial Narrow', Arial, sans-serif;	
}
.login-bar a{
	font-variant:small-caps;
	color:rgb(240,240,240);
}
.special{
	font-family: 'Arial Narrow', sans-serif;
	color:orange;
	font-size:80%;
	padding:5px 0;
	text-align:right;
	
}
.special a{
	text-decoration:none;
	color:white;
}
.special a:hover{
	text-decoration:underline;
	color:white;
}
.settings {
    position: absolute;
    display: inline-block;
}
.settings-content {
    display: none;
    position: absolute;
	right:5px;
	min-width: 150px; 
    z-index: 1;
}
.settings-content a {
    color:rgb(10,10,10);
    padding: 5px;
    text-decoration: none;
    display: block;
	text-align:left;
}
.settings-content li{
	background:#616D7E;
	border-bottom: thin solid silver;
	}
.settings-content a:hover {
	background:rgba(100,100,100,0.2);
	color:white;
	}
.settings:hover .settings-content {
    display: block;
}
header{
	background:#293f50;
}
nav a{
	font-variant:small-caps;
}

main{
	margin:0 auto;
}
main ul{
	list-style:disc;
	text-indent: 3px;
	padding-left: 20px;
}
main ul li{
	
	text-indent: 5px;
}
main h1, h2, h3{
	font-family: sans-serif;
	font-weight:bolder;
	padding:10px 5px;
	text-align:left;
	text-shadow: 3px 6px 2px rgba(0, 0, 0, .3);
	
}
main h1{
	font-size:200%;
	font-weight:800;
	color:rgb(0,100,100);
	
}
main h2{
	font-size:150%;
	font-weight:600;
	color:green;
	
}
main h3{
	font-size:120%;
	font-weight:600;
	text-align:left;
	color:maroon;
}
main p{
	text-align:justify;
}
section, aside{
	padding:10px;
	text-align:justify;
}
footer{
	
	padding:10px 40px;
	background:rgba(15, 15,15, 0.5);
}
footer a{
	font-variant:small-caps;
}
::selection{
	color:red;
	background:yellow;
}
/* 
For testing only
*/


@media only screen and (max-width: 600px){
/* 
Extra Small devices (Phones 600px and down) 
*/
.group:before,
.group:after{
	content:"";
	display: table;
}
.group:after{
	clear:both;
} 
.group{
	clear:both;
	*zoom:1;
} 
main{
	padding:0 10px;
}
/* 
===================================================
Header
===================================================
*/

header{
	width:100%;
	height:60px;
	}
[class*="col-"]{
	width:100%
}

.login-bar{
	width:50%;
	float:right;
	padding:5px 0 0 0;
	text-align:left;
	font-size:80%;
}
.banner-bar{
	float:left;
	width:50%;
	padding-left:10%;
	padding-top:10px;
}
.login-bar span{
	color:white;
}
.login-bar a:hover{
	text-decoration:underline;
}
.account-photo-box{
	display:inline-block;
	float:right;
	width:25%;
	height:30px;
	text-align:right;
	padding:0 10px;
}
.login-signup{
	display:inline-block;
	float:left;
	width:70%;
	height:35px;
	padding:5px;
	text-align:center;
	font-size:90%;
}
.image-photo{
	height:25px;
	width:25px;
	border-radius:25px 25px;
}
.special{
	padding:0 10px;
}

.banner{
	text-align:center;
	width:90%; 
	height:50%;
	
}

/* 
------------------------------------------------
NAVIGATION MENU
STYLING FOR MOBILE 
------------------------------------------------
*/
.dropdown {
    position: absolute;
    display: inline-block;
	top:0;
	left:0;
}

.dropdown-button {
    background-color: #293f50;
    color: white;
    padding: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);
}
.dropdown-content {
    display: none;
    position: absolute;
	min-width: 150px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color:rgba(200,200,200,0.7);
    padding: 5px 10px;
    text-decoration: none;
    display: block;
	text-align:left;
}
.dropdown-content li{
	background:#293f50;
	border-top: 1px solid silver;
	}
.dropdown-content a:hover {
	background:rgba(200,200,200,0.3);
	color:white;
	}
.dropdown-button:hover{
	background:rgba(200,200,200,0.3);
}
.dropdown:hover .dropdown-content {
    display: block;
}
nav{
	width:50%;
	height:40px;
	margin:0;
	text-align:center;
}
nav ul>span{
	display:none;
}
section, aside{
	width:100%;
	padding:5px;
	
}
footer{
	
	width:100%;
	height:70px;
	font-size:12px;
	text-align:center;
	padding:10px;
}
footer div span{
	float:none;
	display:inline-block;	
}
footer span:first-child{
	padding-bottom:5px;
}
footer li{
	display:inline-table
}
footer a{
	color:black;
	font-size:90%;
}
footer a:hover{
	color:white;
}
}

@media only screen and (min-width:600px) and (max-width:768px){
/* 
Small Devices (Portrait tablets and large phones, 600px and above)
*/
/*
=================================================
	General classes
=================================================
	*/
.group:before,
.group:after{
	content:"";
	display: table;
}
.group:after{
	clear:both;
} 
.group{
	clear:both;
	*zoom:1;
} 

body{
	font-size:100%;
}
header{
		height:70px;
	}
[class*="col-"]{
	width:100%
}
main{
	width:90%
}
/*
=================================================
Header and Sections
=================================================
*/	
header{
	height:70px;
	}
.banner-bar, .nav-bar, .login-bar{
	float:left;
	display:inline-block;
	height:70px;
	margin:0;
	padding:5px 0;
}

.banner-bar{
	width:20%;	
}
.nav-bar{
	width:60%;
}
.login-bar{
	width:20%;
	padding-right:5px;
}

.login-bar a:hover{
	text-decoration:underline;
}
.login-bar span{
	color:rgba(240, 256,40,.3);
}
.image-photo{
	height:25px;
	width:25px;
	border-radius:25px 25px;
}
.special{
	padding:0;
	font-size:70%;
}
.account-photo-box{
	display:inline-block;
	float:right;
	width:25%;
	height:30px;
	text-align:right;
	padding:5px 0;
	overflow:hidden;
}
.login-signup{
	display:inline-block;
	float:left;
	width:70%;
	height:35px;
	padding-top:5px;
	text-align:left;
	font-size:70%;
}
.banner{
	padding-top:5px;
	padding-left:10px;
	width:90%; 
	height:50%;
}
.dropdown button{
	display:none;
}


/*
=================================================
Navigation & Links
=================================================
*/
nav{
	position:relative;
	top:10px;
	text-align:left;
	margin: 0;
	padding: 5px 0;
}
nav li{
	display:inline-block;
}
nav a{
	font-size:75%;
	color:rgb(250, 250,250);
}
nav a:hover{
	color:rgba(200,200,200,0.7);
}
footer{
	font-size:80%;
}
footer li{
	display:inline-table
}
.login-bar span{
	color:rgba(240, 256,40,.3);
}
ul span{
	color:rgb(200,200,200);
}
footer a{
	color:black;
}
footer a:hover{
	color:rgb(240, 240,240);
}	

}
@media only screen and (min-width:768px) and (max-width:992px){
/*
================================================
MEDIUM DEVICES (LANDSCAPE TABLETS, 768px and up)
================================================
*/
.group:before,
.group:after{
	content:"";
	display: table;
}
.group:after{
	clear:both;
} 
.group{
	clear:both;
	*zoom:1;
} 
.float-right{
	float:right;
}
float-left{
	float:left;
}
/*
=================================================
Header and Sections
=================================================
*/	
header{
	height:70px;
	}
.banner-bar, .nav-bar, .login-bar{
	float:left;
	display:inline-block;
	height:70px;
	margin:0;
	padding:5px 0;
}
.banner-bar{
	width:22%;	
}
.nav-bar{
	width:50%;
}
.login-bar{
	width:28%;
	padding:10px;
}

.login-bar a:hover{
	text-decoration:underline;
}
.login-bar span{
	color:rgba(240, 256,40,.3);
}
.image-photo{
	height:30px;
	width:30px;
	border-radius: 30px 30px;
}
.special{
	padding:0;
}
.account-photo-box{
	display:inline-block;
	float:right;
	width:25%;
	height:35px;
	padding:5px;
	
}
.login-signup{
	display:inline-block;
	float:left;
	width:70%;
	height:35px;
	padding-top:5px;
	text-align:center;
	font-size:90%;
}
.banner{
	padding-top:5px;
	padding-left:10px;
	width:80%; 
	height:60%;
}
.dropdown button{
	display:none;
}


/*
=================================================
Navigation & Links
=================================================
*/
nav{
	position:relative;
	top:20px;
	text-align:left;
	margin:0;
	padding:0;
}
nav li{
	display:inline-block;
}
nav a{
	font-size:90%;
	color:rgb(250, 250,250);
}
nav a:hover{
	color:rgba(200,200,200,0.7);
}
footer li{
	display:inline-table
}
.login-bar span{
	color:rgba(240, 256,40,.3);
}
ul span{
	color:rgb(200,200,200);
}
footer a{
	color:black;
}
footer a:hover{
	color:rgb(240, 240,240);
}

/*
===================================================
Clearfix
===================================================

*/
.group::before,
.group::after{
	content:"";
	display: table;
}
.group::after{
	clear:both;
} 
.group{
	clear:both;
	*zoom:1;
}
/*
===========================================
Grid
==========================================
*/
.flex-container{
	display:flex;
	flex-direction: row;
	justify-content:center;
	align-items:center;
}
.col-1-5,
.col-2-5,
.col-3-5,
.col-4-5{
	float:left;
	display: inline-block;
	vertical-align: top;
}
.col-1-5{
	max-width:20%;
}
.col-2-5{
	max-width:40%;
}
.col-3-5{
	max-width:60%;
}
.col-4-5{
	max-width:80%
}
main{
	width:100%;
}

footer{
	
	height:40px;
	padding:5px ;
}
/*
===========================================
Typography
==========================================
*/


/*
End of desktop styles
_________________________________________________
*/
}

@media only screen and (min-width:992px) and (max-width:1200px){
/*
Large Devices (Laptops and Desktops 992px and above)  
*/
	
/*
=================================================
Header and Sections
=================================================
*/	
header{
	height:100px;
	}
.banner-bar, .nav-bar, .login-bar{
	float:left;
	display:inline-block;
	height:100px;
	margin:0;
	padding:10px 0;
}
.banner-bar{
	width:28%;
	
}
.nav-bar{
	width:52%;
}
.login-bar{
	width:20%;
	padding-right:15px;
}

.login-bar a:hover{
	text-decoration:underline;
}
.login-bar span{
	color:rgba(240, 256,40,.3);
}
.image-photo{
	height:35px;
	width:35px;
	border-radius: 35px 35px;
}
.account-photo-box{
	float:right;
	display:inline-block;
	width:30%;
	height:40px;
	padding:5px;
}
.login-signup{
	display:inline-block;
	float:left;
	width:70%;
	height:40px;
	padding-top:5px;
	text-align:left;
}
.banner{
	padding-top:5px;
	padding-left:20px;
	width:60%; 
	height:60%;
}
.dropdown button{
	display:none;
}

/*
=================================================
Navigation & Links
=================================================
*/
nav{
	position:relative;
	top:40px;
	margin:0 ;
	text-align:left;
	padding-top:0;
	padding-bottom:10px;
	font-size:100%;
}
nav li{
	display:inline-block;
}
nav a{
	color:rgb(250, 250,250);
	font-size:110%;
	
}
nav a:hover{
	color:rgba(200,200,200,0.7);
}
footer li{
	display:inline-table
}
ul span{
	color:rgb(200,200,200);
}
footer a{
	text-decoration:none;
	color:black;
}
footer a:hover{
	color:rgb(240, 240,240);
}

/*
===================================================
Clearfix
===================================================

*/
.group::before,
.group::after{
	content:"";
	display: table;
}
.group::after{
	clear:both;
} 
.group{
	clear:both;
	*zoom:1;
}
/*
===========================================
Grid
==========================================
*/
.col-1-5,
.col-2-5,
.col-3-5,
.col-4-5{
	display: inline-block;
	vertical-align: top;
}
.col-1-5{
	width:20%;
}
.col-2-5{
	width:40%;
}
.col-3-5{
	width:60%;
}
.col-4-5{
	width:80%
}
main{
	width:90%;
	padding:5px;
	
}
footer{
	height:40px;
	padding:10px 200px;
}
/*
===========================================
Typography
==========================================
*/


/*
End of desktop styles
_________________________________________________
*/
}
@media only screen and (min-width:1200px) {
/*
Extra large devices (Large Laptops and Desktops, 1200px and up )
*/

/*
=================================================
Header and Sections
=================================================
*/	
body{
	font-size:110%;
}
header{
	height:120px;
	}
.banner-bar, .nav-bar, .login-bar{
	float:left;
	display:inline-block;
	height:120px;
	margin:0;
	padding:10px 0;
}
.banner-bar{
	width:30%;
	
}
.nav-bar{
	width:45%;
}
.login-bar{
	width:25%;
	padding-right:15px;
}

.login-bar a:hover{
	text-decoration:underline;
}
.login-bar span{
	color:rgba(240, 256,40,.3);
}
.image-photo{
	height:50px;
	width:50px;
	border-radius: 50px 50px;
}
.account-photo-box{
	float:right;
	display:inline-block;
	width:30%;
	height:60px;
	padding:5px;
	text-align:right;
}
.login-signup{
	display:inline-block;
	float:left;
	width:70%;
	height:40px;
	padding-top:5px;
	text-align:center;	
}
.banner{
	padding-top:5px;
	padding-left:20px;
	width:60%; 
	height:60%;
}
.dropdown button{
	display:none;
}

/*
=================================================
Navigation & Links
=================================================
*/
nav{
	position:relative;
	top:60px;
	margin:0 auto;
	text-align:left;
	padding-top:0;
	padding-bottom:10px;
	font-size:100%;
}
nav li{
	display:inline-block;
}
nav a{
	color:rgb(250, 250,250);
	font-size:110%;
	
}
nav a:hover{
	color:rgba(200,200,200,0.7);
}
footer li{
	display:inline-table
}
ul span{
	color:rgb(200,200,200);
}
footer a{
	text-decoration:none;
	color:black;
}
footer a:hover{
	color:rgb(240, 240,240);
}

/*
===================================================
Clearfix
===================================================

*/
.group::before,
.group::after{
	content:"";
	display: table;
}
.group::after{
	clear:both;
} 
.group{
	clear:both;
	*zoom:1;
}
/*
===========================================
Grid
==========================================
*/
.col-1-5,
.col-2-5,
.col-3-5,
.col-4-5{
	display: inline-block;
	vertical-align: top;
}
.col-1-5{
	width:20%;
}
.col-2-5{
	width:40%;
}
.col-3-5{
	width:60%;
}
.col-4-5{
	width:80%
}
main{
	width:90%;
	padding:5px;
	
}
footer{
	height:40px;
	padding:10px 200px;
}
/*
===========================================
Typography
==========================================
*/
	
}