@font-face {
  font-family: 'Aladin';
  src: url("../fonts/Aladin-Regular.ttf");
  font-display: swap; }
/* ||GENERAL STYLES */
body {
  font-family: Calibri, Tahoma, sans-serif, Arial;
  line-height: 1.5em; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

button {
  min-width: 100px;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  font-weight: bold; }
  button:hover {
    cursor: pointer; }

*,
*::before,
*::after {
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table,
tr {
  width: 100%;
  text-align: left; }

th,
td {
  padding: 5px 10px; }

blockquote,
q {
  quotes: none; }
  blockquote:before,
  q:before {
    content: '';
    content: none; }
  blockquote:after,
  q:after {
    content: '';
    content: none; }

figure {
  margin: 1em auto; }

figcaption {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.group:before {
  content: '';
  display: table; }
.group:after {
  content: '';
  display: table;
  clear: both; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.errors {
  padding: 1em;
  border: 1px solid;
  margin-bottom: 1em;
  overflow: auto;
  border-color: red;
  background: lightyellow;
  color: red; }
  .errors ul {
    margin-left: 1em; }

.hidden {
  display: none; }

.meta-description {
  display: none; }

@media (max-width: 768px) {
  .hide-in-mobile {
    display: none; } }

@media (min-width: 769px) {
  .hide-in-bigger-screens {
    display: none; } }

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  @media (max-width: 768px) {
    .flex-wrapper {
      flex-flow: row wrap;
      align-items: center; } }

h1,
h2,
h3,
h4 {
  font-family: Tahoma, Arial, sans-serif;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.05em;
  padding: 0.5em 0; }
  @media (max-width: 768px) {
    h1,
    h2,
    h3,
    h4 {
      letter-spacing: 0; } }

h5,
h6 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: left; }

@media (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
    line-height: 1.2em; } }
@media (min-width: 769px) {
  h1 {
    font-size: 1.5rem;
    line-height: 1.25em; } }
@media (min-width: 992px) {
  h1 {
    font-size: 2rem;
    line-height: 1.5em; } }

h2 {
  font-size: 1.75rem; }
  @media (max-width: 768px) {
    h2 {
      font-size: 1.3rem;
      padding: 8px 0; } }

h3 {
  font-size: 1.5rem; }
  @media (max-width: 768px) {
    h3 {
      font-size: 1.2rem;
      padding: 6px 0; } }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.9rem; }
  @media (max-width: 768px) {
    h5 {
      font-size: 0.8rem;
      padding: 6px 0; } }

h6 {
  font-size: 0.8rem; }

p {
  padding: 10px 0;
  line-height: 1.5em;
  text-align: justify; }
  @media (max-width: 768px) {
    p {
      font-size: 1.1em; } }
  @media (max-width: 599px) {
    p {
      text-align: left;
      line-height: 1.3em; } }
  @media (min-width: 769px) {
    p {
      font-size: 1.2em; } }

/* || LAYOUT AND STRUCTURE */
/* || Header Section */
header {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fafaf9; }

header .social-media {
  display: none;
  font-size: 1.2em;
  word-spacing: 0.2em; }
  @media (min-width: 769px) {
    header .social-media {
      position: absolute;
      top: 0;
      right: 10%;
      display: inline-block;
      min-width: 15%;
      height: 2em; } }

.fa {
  padding: 3px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%; }
  .fa:hover {
    opacity: 0.7; }

header .fa-facebook,
header .fa-twitter,
header .fa-pinterest,
header .fa-instagram,
header .fa-linkedin {
  background: transparent;
  color: #97947f; }
  header .fa-facebook:hover,
  header .fa-twitter:hover,
  header .fa-pinterest:hover,
  header .fa-instagram:hover,
  header .fa-linkedin:hover {
    color: #c4bf66; }

/* Search bar */
.search-bar {
  display: block;
  margin: 3px;
  max-width: 250px;
  height: 90%; }
  .search-bar .search-input {
    margin-top: 5px;
    padding: 6px 3px;
    width: 100%;
    font-size: 1em;
    background-color: white;
    border: thin solid #f5f0f0;
    border-radius: 10px; }
    .search-bar .search-input:focus {
      color: lightslategrey;
      border-style: none; }
  @media (max-width: 768px) {
    .search-bar {
      margin: 3px auto; } }

/* Banner  */
.banner-bar {
  display: inline-block;
  margin: 0;
  padding: 0.5em 34px;
  text-align: center; }
  @media (max-width: 768px) {
    .banner-bar {
      min-width: 70%;
      left: 15%;
      padding: 0.3em;
      font-size: 1.3em; } }
  @media (min-width: 769px) {
    .banner-bar {
      min-width: 35%;
      font-size: 1.6em; } }
  .banner-bar .banner {
    font-family: Aladin; }
  .banner-bar .banana-yellow {
    color: #c4bf66; }
  .banner-bar .olive {
    color: #0b3128; }
  .banner-bar .autum-orange {
    color: #ec801a; }
  .banner-bar .deep-red {
    color: #500e0c; }
  .banner-bar .khaki {
    color: #97947f; }

/* Navigation */
.nav-bar {
  display: inline-block;
  margin: 0;
  padding: 0; }
  @media (max-width: 768px) {
    .nav-bar {
      display: block;
      width: 60px; } }
  @media (min-width: 769px) {
    .nav-bar {
      min-width: 50%; } }

#dropdown-menu-btn {
  display: none; }
  @media (max-width: 768px) {
    #dropdown-menu-btn {
      display: block;
      position: absolute;
      top: 3px;
      left: 3px;
      width: 50px;
      padding: 10px 15px;
      color: #0b3128;
      border: none;
      font-size: 1.625em; }
      #dropdown-menu-btn:hover {
        cursor: pointer;
        background-color: #97947f; } }

#closebtn {
  display: none; }
  @media (max-width: 768px) {
    #closebtn {
      position: absolute;
      top: 3px;
      left: 3px;
      z-index: 2;
      width: 50px;
      padding: 10px 15px;
      color: #0b3128;
      font-size: 2em; } }
  #closebtn:hover {
    cursor: pointer;
    background-color: #97947f; }

.nav-content {
  font-family: Arial, Helvetica, sans-serif; }
  @media (max-width: 768px) {
    .nav-content {
      display: none;
      position: absolute;
      top: 3.75em;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: #f0f0f0; } }
  @media (min-width: 769px) {
    .nav-content {
      text-align: center;
      margin: 0;
      padding: 5px 0; } }
  .nav-content ul {
    list-style: none; }
    @media (min-width: 769px) {
      .nav-content ul {
        display: inline-block; } }
  @media (min-width: 769px) {
    .nav-content li {
      display: inline-block;
      padding: 10px 5px; } }
  @media (min-width: 992px) {
    .nav-content li {
      padding: 10px; } }
  @media (max-width: 768px) {
    .nav-content li {
      background-color: #f0f0f0;
      padding: 5px 10px; } }
  .nav-content li:hover {
    background-color: #97947f; }
  .nav-content a {
    padding: 8px 2px;
    font-size: 0.9em;
    font-weight: bold;
    color: #0b3128; }
    @media (max-width: 768px) {
      .nav-content a {
        display: block;
        text-align: left; } }
    .nav-content a:hover {
      color: #c4bf66; }

/* Login / Profile  */
.log-account-section {
  display: inline-block;
  margin: 0; }
  @media (max-width: 768px) {
    .log-account-section {
      min-width: 20%;
      position: absolute;
      top: 10px;
      right: 10%;
      padding: 5px; } }
  @media (min-width: 769px) {
    .log-account-section {
      position: relative;
      right: 0;
      min-width: 10%;
      padding: 1em 0;
      text-align: center; } }

.login-signup {
  display: block;
  width: 100%;
  margin: 0; }

.login {
  color: #0b3128; }
  .login:hover {
    color: #c4bf66; }

.account-photo-box:hover .tooltip-text {
  visibility: visible;
  opacity: 1; }
@media (min-width: 769px) {
  .account-photo-box {
    height: 2.1875em; } }

.image-photo {
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%; }
  .image-photo:hover {
    cursor: pointer; }

.tooltip {
  position: relative;
  display: inline-block;
  top: 10px; }
  .tooltip .tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    right: 0;
    background: #23233c;
    color: #000;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s; }
  .tooltip p {
    font-size: 90%;
    line-height: 1em;
    text-align: left;
    padding: 3px 10px;
    color: #c8c8e9; }
    .tooltip p:first-of-type {
      color: #f0f0f0; }

#profile-checkbox-control {
  display: none; }
  #profile-checkbox-control:checked + .account-display-settings {
    display: block; }
  #profile-checkbox-control:checked ~ .tooltip-text {
    visibility: hidden; }

.account-display-settings {
  display: none;
  min-width: 9.625em;
  position: relative;
  top: 0;
  right: 2em;
  z-index: 1;
  text-align: left;
  background: #23233c;
  color: #fff;
  border-radius: 5px; }
  @media (max-width: 768px) {
    .account-display-settings {
      position: absolute;
      top: 2em;
      right: -20px; } }
  @media (min-width: 769px) {
    .account-display-settings {
      position: absolute;
      top: 2em;
      right: -40px; } }
  .account-display-settings ul {
    list-style: none; }
    .account-display-settings ul li {
      padding: 2px 10px;
      border-bottom: thin groove gray; }
      .account-display-settings ul li:last-child {
        border-bottom: none; }
  .account-display-settings a {
    color: #c8c8e9; }

/* || Footer Section */
footer {
  width: 100%;
  padding: 0.5em;
  background: black; }
  footer ul li {
    display: inline-table; }
    @media (max-width: 768px) {
      footer ul li {
        display: none; } }
  footer a {
    color: #c8c8c8; }
    footer a:hover {
      color: #f0f0f0; }
  footer span {
    color: gray; }
  footer .social-media {
    z-index: 3;
    font-size: 1.3em; }
    @media (max-width: 768px) {
      footer .social-media {
        width: 100%;
        display: block;
        padding: 5px 10px;
        text-align: center;
        word-spacing: 1em; } }
    @media (min-width: 769px) {
      footer .social-media {
        text-align: left; } }
    @media (min-width: 992px) {
      footer .social-media {
        text-align: center; } }
  footer .fa-facebook,
  footer .fa-twitter,
  footer .fa-pinterest,
  footer .fa-instagram,
  footer .fa-linkedin {
    background: transparent;
    color: white; }

.nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  word-spacing: 1em; }
  @media (min-width: 769px) {
    .nav {
      min-width: 40%;
      text-align: right;
      padding-right: 5%; } }
  .nav a {
    font-size: 0.8em; }

.copyright {
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  color: #969696; }
  @media (max-width: 768px) {
    .copyright {
      width: 100%;
      display: block;
      padding: 5px 10px; } }
  @media (min-width: 769px) {
    .copyright {
      min-width: 20%;
      margin: 0; } }

.policies {
  display: inline-block;
  padding: 10px;
  word-spacing: 1em; }
  @media (max-width: 768px) {
    .policies {
      width: 100%;
      display: block;
      padding: 5px 10px;
      text-align: center; } }
  @media (min-width: 769px) {
    .policies {
      min-width: 35%;
      margin: 0;
      text-align: right; } }
  .policies a {
    font-variant: small-caps; }

/* || MAIN LAYOUT */
@media (min-width: 769px) {
  main li {
    font-size: 1em; } }
@media (min-width: 992px) {
  main li {
    font-size: 1.2em; } }
@media (min-width: 1200px) {
  main li {
    font-size: 1.3em; } }

section {
  display: block;
  width: 100%;
  padding: 2.5em 0; }
  @media (max-width: 768px) {
    section {
      padding: 2em 0; } }
  @media (max-width: 599px) {
    section {
      padding: 1em 0; } }

.section-one {
  margin: 0 auto;
  background-color: #500e0c;
  color: #fff; }
  @media (max-width: 599px) {
    .section-one {
      padding-top: 1em; } }

.section-two {
  background-color: #f3f0d9; }
  .section-two button {
    background-color: #97947f;
    color: #000; }

.section-three {
  background-color: #0b3128;
  color: white; }
  .section-three button {
    background-color: #f3f0d9;
    color: black; }

.section-four {
  background-color: #f2f5c9; }
  .section-four button {
    background-color: black;
    color: #fafafa; }

.section-five {
  background-color: #fafafa; }

.border-not-last-child-div div:not(:last-child) {
  border-bottom: solid thin gray; }

.welcome {
  width: 60%;
  margin: 0 auto;
  padding: 0 16px; }
  @media (max-width: 768px) {
    .welcome {
      width: 100%; } }
  @media (min-width: 769px) {
    .welcome {
      width: 80%; } }
  @media (min-width: 992px) {
    .welcome {
      width: 60%; } }
  .welcome h1 {
    text-align: center; }
    @media (max-width: 599px) {
      .welcome h1 {
        text-align: left;
        padding: 10px; } }
  .welcome p {
    font-family: Helvetica, sans-serif;
    text-align: justify;
    font-size: 1.3em; }
    @media (max-width: 599px) {
      .welcome p {
        font-size: 1.2em;
        text-align: left; } }

.intro-paragraph {
  padding: 1em 16px;
  border-style: none;
  background-color: #97947f;
  border-radius: 10px; }

.html-css,
.php-mysql,
.javascript,
.browse-topics,
.card {
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 768px) {
    .html-css,
    .php-mysql,
    .javascript,
    .browse-topics,
    .card {
      display: block;
      margin: 0 auto; } }
  @media (max-width: 599px) {
    .html-css,
    .php-mysql,
    .javascript,
    .browse-topics,
    .card {
      padding: 0 16px; } }

@media (max-width: 768px) {
  .html-css {
    width: 80%; } }
@media (max-width: 599px) {
  .html-css {
    width: 100%; } }
@media (min-width: 769px) {
  .html-css {
    width: 60%;
    margin: 0;
    padding-left: 5%; } }
@media (min-width: 992px) {
  .html-css {
    width: 50%;
    margin: 0 4.5%;
    padding: 20px; } }

@media (max-width: 768px) {
  .php-mysql {
    width: 80%; } }
@media (max-width: 599px) {
  .php-mysql {
    width: 100%; } }
@media (min-width: 769px) {
  .php-mysql {
    width: 50%;
    padding-right: 16px; } }
@media (min-width: 992px) {
  .php-mysql {
    width: 50%;
    margin: 0 4.5%;
    padding: 20px; } }

@media (max-width: 768px) {
  .javascript {
    width: 80%; } }
@media (max-width: 599px) {
  .javascript {
    width: 100%; } }
@media (min-width: 769px) {
  .javascript {
    width: 70%;
    padding-left: 5%; } }
@media (min-width: 992px) {
  .javascript {
    width: 50%;
    margin: 0 4.5%;
    padding: 20px; } }

@media (max-width: 768px) {
  .browse-topics {
    width: 80%;
    padding-left: 0; } }
@media (max-width: 599px) {
  .browse-topics {
    width: 100%;
    padding-left: 16px; } }
@media (min-width: 769px) {
  .browse-topics {
    width: 35%;
    margin: 0;
    padding-left: 5%; } }
@media (min-width: 1200px) {
  .browse-topics {
    width: 30%; } }

.card {
  width: 300px;
  background-color: #97947f;
  color: black;
  margin: 0 5%;
  padding: 1em; }
  @media (max-width: 768px) {
    .card {
      margin: 2em auto; } }

.card-title {
  text-align: center;
  padding: 1em 0; }

.card picture {
  float: left;
  padding: 0.5em;
  background-color: transparent; }
.card button {
  display: block;
  border: none;
  outline: 0;
  width: 100%;
  margin-top: 1em;
  background-color: #000;
  color: #fff;
  font-size: 1.2em;
  text-align: center; }
  .card button:hover {
    opacity: 0.9; }
  .card button a {
    color: #fff; }

.contact-media-links {
  text-align: center; }
  .contact-media-links a {
    color: black;
    font-size: 1.3em;
    padding: 0.3em 12px; }

.posts-section {
  width: 80%;
  margin: 0 auto;
  padding: 1em; }
  @media (max-width: 599px) {
    .posts-section {
      width: 100%; } }
  @media (min-width: 992px) {
    .posts-section {
      width: 60%; } }

.posts-snippets {
  padding-top: 32px; }
  .posts-snippets a {
    color: #464343; }
    .posts-snippets a:hover {
      text-decoration: underline;
      color: black; }

.post-thumb-nail {
  display: block;
  float: left;
  padding: 0.2em 1em; }

.published-topics p {
  padding: 0;
  text-align: left; }
.published-topics a {
  display: block;
  padding: 0;
  text-align: left;
  color: #616D7E; }
  .published-topics a:hover {
    text-decoration: underline;
    color: #2B3856;
    padding-left: 5px; }
.published-topics summary {
  font-size: 1em;
  color: #050a32; }
.published-topics ul {
  display: inline-block;
  list-style: none;
  text-align: left; }
  @media (max-width: 599px) {
    .published-topics ul {
      padding-left: 10px; } }
  .published-topics ul li {
    font-size: .9em;
    color: #050a32; }
  @media (min-width: 992px) {
    .published-topics ul ul li {
      font-size: .9em; } }

.pagination {
  text-align: left; }
  .pagination ul {
    list-style: none;
    padding-top: 1em; }
  .pagination li {
    display: inline-table;
    padding: 1rem;
    color: orangered; }
    .pagination li:hover {
      text-decoration: underline;
      cursor: pointer; }
    .pagination li a:active {
      color: #c2bbbb; }
    .pagination li a:hover {
      text-decoration: underline; }
  .pagination .current,
  .pagination .current-active {
    color: gray;
    font-style: italic; }

@media (max-width: 768px) {
  #total_pages {
    display: none; } }

.load-more {
  width: 200px;
  margin: 1em auto;
  padding: 0.4em;
  border: 1px solid #cecbcb;
  text-align: center; }
  .load-more:hover {
    cursor: pointer;
    border: 2px ridge #b8b5b5; }
  .load-more .fa {
    display: block;
    color: grey;
    font-size: 1.4em;
    line-height: 0.7; }
    .load-more .fa:hover {
      text-decoration: underline; }
  @media (min-width: 769px) {
    .load-more {
      display: none; } }

hr {
  border: thin solid #f0f0f0; }

/* ||Layout for GRID Supporting browsers */
@supports (display: grid) {
  .grid-wrapper {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(2em, auto);
    row-gap: 0;
    justify-content: center; }

  header {
    grid-column: 1/span 5;
    grid-row: 1;
    position: sticky;
    top: 0; }
    @media (min-width: 769px) {
      header {
        padding-bottom: 0.5em; } }

  main {
    grid-column: 1/span 5;
    grid-row: 2;
    margin: 0 auto; }

  footer {
    grid-column: 1/span 5;
    grid-row: 3;
    padding: 0.5em; }

  header .social-media {
    display: none; }
    @media (min-width: 769px) {
      header .social-media {
        display: inline-block;
        grid-column: 4/span 1;
        grid-row: 1; } }

  .banner-bar {
    grid-column: 2/span 3;
    grid-row: 1/span 1; }
    @media (min-width: 769px) {
      .banner-bar {
        grid-column: 1/span 2;
        grid-row: 1/span 1; } }

  .search-bar {
    grid-column: 2/span 3;
    grid-row: 2/span 1;
    min-width: 250px;
    margin: 5px auto; }
    @media (min-width: 769px) {
      .search-bar {
        grid-column: 1/span 2;
        grid-row: 2/span 1;
        z-index: 2; } }

  .nav-bar {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
    z-index: 1; }
    @media (min-width: 769px) {
      .nav-bar {
        grid-column: 3/span 2;
        grid-row: 2/span 1; } }
    @media (min-width: 1200px) {
      .nav-bar {
        grid-column: 2/span 3;
        grid-row: 2/span 1; } }

  .log-account-section {
    grid-column: 4/span 2;
    grid-row: 1/span 2;
    text-align: center; }
    @media (min-width: 769px) {
      .log-account-section {
        grid-column: 5/span 1;
        grid-row: 1/span 2;
        padding: 1em 24px; } }

  @media (max-width: 768px) {
    footer .social-media {
      grid-column: 1/span 5;
      grid-row: 1;
      text-align: center; } }
  @media (min-width: 769px) {
    footer .social-media {
      grid-column: 1/span 2;
      grid-row: 1;
      word-spacing: 0.5em;
      text-align: left; } }
  @media (min-width: 992px) {
    footer .social-media {
      text-align: center; } }

  .policies {
    text-align: center; }
    @media (max-width: 768px) {
      .policies {
        grid-column: 1/span 5;
        grid-row: 2; } }
    @media (min-width: 769px) {
      .policies {
        grid-column: 2/span 3;
        grid-row: 2;
        word-spacing: 0.5em; } }

  @media (max-width: 768px) {
    .copyright {
      grid-column: 1/span 5;
      grid-row: 3; } }
  @media (min-width: 769px) {
    .copyright {
      grid-column: 1/span 5;
      grid-row: 3; } }

  @media (min-width: 769px) {
    .nav {
      grid-column: 4/span 2;
      grid-row: 1;
      z-index: 1;
      text-align: center; } } }

/*# sourceMappingURL=main.css.map */
