/*
============================================================
Browser display reset: Ensure cross-browser consistency
============================================================
 http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
	background:white;
	line-height: 1.5;
}
a{
	text-decoration:none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
/////////////////////
** GENERAL STYLES
*********************
*/
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.errors{
	padding:1em;
	border:1px solid red;
	background:lightyellow;
	color:red;
	margin-bottom:1em;
	overflow:auto;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.hidden{
	display:none;
}
.errors ul{
	margin-left:1em;
}
header{
	background:#293f50;
}
header, footer{
	width:100%;
	padding:0;
	font-family:Calibri, sans-serif;		
}
nav a{
	font-variant:small-caps;
	color:rgb(255, 255,255);
}
nav ul, .account-display-settings ul{
	list-style:none;
}
nav ul li a:hover{
	background-color: #334F5C;
	color:rgb( 200, 200, 233);
}
nav ul li a{
	padding:15px 10px;
	color:rgb(250, 250,250);
}
main{
	margin:0 auto;
	font-family: sans-serif;
}
main ul, ol{
	text-indent: 10px;
	padding-left: 20px;
}
main ul{
	list-style:disc;
}

main table, tr{
	width:100%;
	text-align:left;
}
main table th{
	font-weight:bold;
	background:rgb(200,230,200);
}
main tbody tr:nth-child(even){
	 background: #f0f0f2;
}
main table td:first-child {
	font-family:'Courier New', courier;
	font-weight:bold;
	
}
main table th, td{
	padding:3px 10px;
	border:thin solid rgb(200,200,200);
}
section, aside{
	padding:10px;
	text-align:justify;
}
footer{
	padding:10px 40px;
	background:rgba(15, 15,15, 0.5);
}
footer a{
	font-variant:small-caps;
}

footer li{
	display:inline-table;
}
footer ul span{
	color:rgb(200,200,200);
}
footer a{
	text-decoration:none;
	color:black;
}
footer a:hover{
	color:rgb(240, 240,240);
}
/*
/////////////////////////////////////
CLEARFIX
*************************************
*/
.group:before,
.group:after{
	content:"";
	display: table;
}
.group:after{
	clear:both;
} 
.group{
	clear:both;
	*zoom:1;
} 

/*
//////////////////////////////
	TYPOGRAPHY
******************************
*/
main h1, h2, h3{
	font-weight:bolder;
	padding:5px;
	text-align:left;
	
}
main h1{
	color:#071418;
}
main h2{
	color:#585858;
}
main h3{
	text-align:left;
	color:maroon;
}
main h4{
	text-align:left;
	color:purple;
}
main p{
	text-align:justify;
	padding:5px 0;
}
/* 
///////////////////////////////
 STYLING FOR HEADER SECTIONS
*******************************
*/
.log-account-section a:hover{
	text-decoration:underline;
}
.log-account-section span{
	color:rgba(240, 256,40,.3);
}
.login-signup{
	display:block;
	margin:0;
	width:100%;
}
.login-signup a{
	color:rgb( 200, 200, 233);
}

.search-container{
	display:block;
	margin:0;
	width:100%;
}
.search-container input[type=text] {
  padding: 6px;
  width:100%;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.search-container button {
  padding: 6px 9px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-radius:0 5px 5px 0;
  cursor: pointer;
}
.search-container button:hover {
  background: #ccc;
}
.search-container span{
	display:inline-block;
}
.image-photo{
	
	border:3px solid #2b5959;
	
}

/* 
/////////////////////////////
 STYLING FOR TOOLTIP
****************************
*/

/* Tooltip container */
.tooltip{
	position:relative;
	display:inline-block;
	top:10px;
}
/* Tooltip text */
.tooltip .tooltip-text{
	visibility:hidden;
	width:140px;
	background:rgb( 35, 35, 60);
	color:#fff;
	padding:5px 0;
	border-radius:6px;
	
	/* Position the tooltip text */
	position:absolute;
	z-index:1;
	left:40%;
	margin-left:-80px;
	
	/* Fade in tooltip */
	opacity:0;
	transition:opacity 0.3s;
}
.tooltip-text p{
	font-size:90%;
	line-height:1;
	text-align:left;
	padding:3px 5px;
	color:rgb( 200, 200, 233);
}
.tooltip-text p:first-of-type{
	color:rgb(240,240,240);
}

/* Show tooltip when mouse over container */
.tooltip:hover .tooltip-text{
	visibility:visible;
	opacity:1;
	
}

/*
/////////////////////////////////////////////
STYLING FOR PROFILE SETTINGS AND DISPLAY
*********************************************
*/
#profile-checkbox-control{
	display:none;
}
.account-display-settings{
	display:none;
	position:relative;
	top:0;
	min-width:10.625em;
	background:rgb( 35, 35, 60);
	color:#fff;
	border-radius:5px;
	z-index:1;
}
.account-display-settings ul li{
	border-bottom: thin groove gray;
}
.account-display-settings ul li:last-child{
	border-bottom:none;
}

#profile-checkbox-control:checked + .account-display-settings{
	display:block;
	text-align:left;
}
#profile-checkbox-control:checked ~ .tooltip-text{
	visibility:hidden;
}
.account-display-settings a{
	font-size:90%;
	text-align:left;
	color:rgb( 200, 200, 233);
}
.account-display-settings a:hover{
	color:#fff;
}
header  ul, .login-signup span{
	color:rgb(200,200,200);
}


/*
///////////////////////////////
STYLING FOR COMMENTS SECTION
*******************************
*/
.comments-container h3, h4, h5{
	padding-top:20px ;
	color:black;
	text-shadow:none;
}
.comments-container p{
	font-size:100%;
}
.comments-container hr{
	margin-top:30px;
	border:thin solid gray;
}
.comments-container hr:nth-of-type(2){
	margin:0;
	border:thin solid silver;
}
.comments-section{
	font-family:"Times New Roman";
	font-size:90%;
	margin-top:10px;
}
.comments-container .hide-comment-id{
	display:none;
}
.comments-section .profile-photo{
	float:left;
	width:10%;
	margin-top:5px;
}
.comments-section .comments-detail{
	float:right;
	width:90%;
	margin-top:5px;
	padding-left:5px;
}

.replies-profile-photo{
	float:left;
	margin-left:40px;
	
}
.replies-detail{
	float:right;
	width:85%;
	margin-top:5px;
	padding:5px 10px;
	text-align:left;
	line-height:1.2;
	background: rgb(220,220,220);
	border-radius:5px;
}

.user-info .username{
	font-family:sans-serif;
	color:rgb(50,50,50);
	font-weight:bold;
	font-size:110%;	
}
.user-info .created-date{
	font-style:italic;
	padding-left:5px;
}
.comments-section .comment-text{
	padding-top:0;
	line-height:1.2;
}
.replies-detail .user-info{
	font-size:90%;
}
.replies-detail .reply-text{
	text-align:left;
	padding:3px 0 10px 0;
}
.comments-detail a{
	font-family:Arial;
	margin:0 10px;
	text-transform:uppercase;
}
.reply-form{
	margin-left:30px;
	display:none;
}
div[class^="group replies_container_"] {
	display:none;
}

/*
////////////////////////////////
STYLING FOR SOCIAL MEDIA ICONS
*******************************
*/
.icon-bar {
  position: fixed;
  top: 50%;
  right:0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  opacity: 0.7;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.instagram {
  background: #125688;
  color: white;
}

.pinterest {
  background: #cb2027;
  color: white;
}
/*
//////////////////////////////////////////
** STYLING FOR CODE DISPLAY SECTIONS
****************************************/
pre, pre code, samp{
	display:block;
	margin:0;
}
pre{
	-moz-tab-size:4;
	-o-tab-size:4;
	tab-size:4;
	overflow-x:auto;
	margin:10px 0;
	font-size:.9em;
	
}
code{
	font-family:'Courier New';
	font-size:1em;
	color:#000;
	padding:0 2px;
}
p code{
	background:rgb(230,230,230);
}
/*
////////////////////////////////////////////
**STYLING FOR DYNAMIC CONTENT ON INDEX PAGE
******************************************/
.paragraph-snippet{
	padding: 10px 5px;
	font-family:'Times New Roman';
	font-size:90%;
	line-height:1;
	border:0 solid;
	box-shadow:0 5px 5px grey; 
}
.post-acreditation{
	color:gray;
	font-size:14px;
}
.recent-posts{
	margin-left:1em;
}
.recent-posts a{
	color:#157DEC;
}
.recent-posts a:hover{
	text-decoration:underline;
	color:#0041C2;
}
/*
////////////////////////////////////////// 
HIDE MENU CONTROLS FOR SMALL DEVICES ONLY
******************************************/
#menu-checkbox-control, .dropdown-button{
	display:none;
}
@media only screen and (max-width: 600px){
/* 
--------------------------------------------
EXTRA SMALL DEVICES (PHONES 600PX AND DOWN) 
--------------------------------------------
*/


/* 
===================================================
Header
===================================================
*/

header{
	width:100%;
	height:60px;
	}
[class*="col-"]{
	width:100%
}
.search-container{
	display:none;
}
.banner-bar, .log-account-section{
	display:block;
	height:60px;
	margin:0;
	padding:0;
	vertical-align:top;
}
.banner-bar{
	float:left;
	width:50%;
	padding-left:15%;
	padding-top:10px;
	text-align:right;
}
.banner{
	text-align:center;
	width:90%; 
	height:50%;
}
.log-account-section{
	float:right;
	width:50%;
	padding-right:10%;
	text-align:right;
	font-size:80%;
}
.account-display-settings{
	right:100%;
	margin-left:-20px;
}
.account-display-settings ul li{
	padding:2px 0px 2px 20px;
}
.account-photo-box{
	width:25%;
	height:30px;
	text-align:right;
	padding:0 5px;
}
.image-photo{
	height:25px;
	width:25px;
	border:3px solid #2b5959;
	border-radius:25px 25px;
}

/* 
------------------------------------------------
NAVIGATION MENU: FOR MOBILE 
------------------------------------------------
*/

.dropdown {
    position: absolute;
    display: inline-block;
	top:0;
	left:0;
}

.dropdown-button {
	display:block;
    background-color: #293f50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);
}
.dropdown-content {
    display: none;
    position: absolute;
	min-width: 12.5em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;	
}
.dropdown-content a {
    color:rgb( 200, 200, 233);
    padding: 5px 10px;
    text-decoration: none;
    display: block;
	text-align:left;
}
.dropdown-content li{
	background:rgb( 35, 35, 60);
	border-top: thin solid silver;
	}
.dropdown-content a:hover {
	color:rgb( 200, 200, 233);
	}

.dropdown-button:hover{
	background:rgb( 35, 35, 60);
}
nav a{
	font-variant:normal;
}
nav ul li a:hover{
	background:rgb( 35, 35, 50);
	
}
nav ul>span{
	display:none;
}

/* 
--------------------------------------------------
MAIN SECTION
--------------------------------------------------
*/
section, aside{
	width:100%;
	padding:5px;
	
}
main{
	padding:0 10px;
}
main h1, h2, h3{
	font-weight:bolder;
	padding:10px 5px;
	text-align:left;
	text-shadow: 3px 6px 2px rgba(0, 0, 0, .3);
}
/* 
--------------------------------------------------
FOOTER SECTION
--------------------------------------------------
*/

footer{
	width:100%;
	min-height:40px;
	font-size:80%;
	text-align:center;
	padding:10px;
}
footer div span{
	float:none;
	display:inline-block;
}
footer div span:first-child{
	padding-bottom:5px;
}
footer li{
	display:inline-table;
}
footer a{
	color:black;
	font-size:80%;
}
footer a:hover{
	color:white;
}
footer ul span{
	color:rgb(200,200,200);
}
}

@media only screen and (min-width:600px) and (max-width:768px) {
/*
-------------------------------------------------------------------
SMALL DEVICES (PORTRAIT TABLETS AND LARGE PHONES, 600PX AND ABOVE)
-------------------------------------------------------------------
*/
/*
=================================================
	GENERAL CLASSES
=================================================
	*/
body{
	font-size:100%;
}

[class*="col-"]{
	width:100%
}
main{
	width:90%
}
/*
=================================================
	HEADER AND SECTIONS
=================================================
*/	
header{
	height:70px;
	}
.banner-bar, .navigation-utilities-section, .log-account-section{
	display:block;
	height:70px;
	margin:0;
	padding:0;
	vertical-align:top;
}
.banner-bar{
	float:left;
	width:15%;
}
.banner{
	padding-top:0;
	padding-left:5px;
	width:90%; 
	height:40%;
}
.navigation-utilities-section{
	float:left;
	width:65%;
}
.search-container, .nav-bar{
	text-align:center;
}
.search-container{
	height:30px;
}
.nav-bar{
	height:40px;
}
.search-container input[type=text] {
  padding: 3px;
  margin-top: 5px;
  font-size: 14px;
}
.search-container button {
  padding: 3px 9px;
  margin-left:-25px;
  margin-top: 5px;
  font-size: 14px;
  border-radius:0 5px 5px 0;
}
.log-account-section{
	float:right;
	width:20%;
	text-align:center;
}
.login-signup{
	padding-top:10px;
}
.account-display-settings{
	right:100%;
}
.account-display-settings ul li{
	padding:2px 0px 2px 20px;
}
.image-photo{
	height:30px;
	width:30px;
	border:3px solid #2b5959;
	border-radius:30px 30px;
}
.account-photo-box{
	display:inline-block;
	float:none;
	width:40%;
	height:35px;
	margin-right:20%;
	padding:5px 0;
}

.dropdown button{
	display:none;
}

/*
=================================================
NAVIGATION & LINKS
=================================================
*/
nav{
	text-align:center;
	margin: 0;
	padding: 5px 0;
	font-size:100%;
}
nav ul{
	text-align:center;
}
nav li{
	display:inline-block;
	padding:0;
}
nav ul li a{
	padding:8px 2px;
	font-size:80%;
	
}


/*
=================================================
FOOTER
=================================================
*/
footer{
	font-size:80%;
	min-height:40px;
	
}
footer li{
	display:inline-table
}

ul span{
	color:rgb(200,200,200);
}
footer a{
	color:black;
}
footer a:hover{
	color:rgb(240, 240,240);
}	
/*
=================================================
TYPOGRAPHY
=================================================
*/
main h1{
	font-size:140%;
	font-weight:800;
}
main h2{
	font-size:130%;
	font-weight:600;	
}
main h3{
	font-size:110%;
	font-weight:600;
}

}
@media only screen and (min-width:768px) and (max-width:992px){
/*
------------------------------------------------
MEDIUM DEVICES (LANDSCAPE TABLETS, 768px and up)
-------------------------------------------------
*/
 

/*
=================================================
HEADER AND SECTIONS
=================================================
*/
header{
	width:100%;
	height:70px;
	margin:0;
	}
.banner-bar, .navigation-utilities-section, .log-account-section{
	display:block;
	height:70px;
	margin:0;
	padding:0;
	vertical-align:top;
}
.banner-bar{
	float:left;
	width:20%;
}
.banner{
	padding-top:5px;
	padding-left:20px;
	width:80%; 
	height:60%;
}
.navigation-utilities-section{
	float:left;
	width:50%;
}
.search-container, .nav-bar{
	height:35px;
	text-align:center;
}
.search-container input[type=text] {
  padding: 3px;
  margin-top: 5px;
  font-size: 14px;
}
.search-container button {
  padding: 3px 9px;
  margin-left:-25px;
  margin-top: 5px;
  font-size: 14px;
  border-radius:0 5px 5px 0;
}
.log-account-section{
	float:right;
	width:30%;
	text-align:center;
}
.login-signup{
	padding-top:10px;
}
.account-display-settings{
	right:100%;
	
}
.account-display-settings ul li{
	padding:2px 0px 2px 20px;
}
.image-photo{
	position:relative;
	left:0;
	height:30px;
	width:30px;
	border:3px solid #2b5959;
	border-radius: 30px 30px;
}
.account-photo-box{
	float:right;
	display:inline-block;
	width:25%;
	height:35px;
	margin-right:25%;
	padding:5px;
}
.dropdown button{
	display:none;
}

/*
=================================================
NAVIGATION & LINKS
=================================================
*/
nav{
	margin:0 ;
	text-align:left;
	padding-top:0;
	padding-bottom:5px;
	font-size:100%;
	
}
nav ul{
	text-align:center;
}
nav li{
	display:inline-block;
	padding:0;
}
nav ul li a{
	padding:8px 2px;
	font-size:80%;
	
}


/*
===========================================
PAGE GRID
==========================================
*/
.col-1-5,
.col-2-5,
.col-3-5,
.col-4-5{
	display: inline-block;
	vertical-align: top;
	float:left;
}
.col-1-5{
	max-width:20%;
}
.col-2-5{
	max-width:40%;
}
.col-3-5{
	max-width:60%;
}
.col-4-5{
	max-width:80%
}
main{
	width:100%;
}

footer{
	height:40px;
	padding:5px 100px;
}
/*
===========================================
TYPOGRAPHY
==========================================
*/

main h1{
	font-size:140%;
	font-weight:800;
}
main h2{
	font-size:130%;
	font-weight:600;	
}
main h3{
	font-size:110%;
	font-weight:600;	
}
main h4{
	font-size:100%;
	font-weight:400;
}
}

@media only screen and (min-width:992px) and (max-width:1200px){
/*
----------------------------------------------------
LARGE DEVICES (LAPTOPS AND DESKTOPS 992PX AND ABOVE)  
---------------------------------------------------
*/
	
/*
=================================================
HEADER SECTIONS
=================================================
*/
header{
	width:100%;
	height:100px;
	margin:0;
	}
.banner-bar, .navigation-utilities-section, .log-account-section{
	display:block;
	height:100px;
	margin:0;
	padding:0;
	vertical-align:top;
}
.banner-bar{
	float:left;
	width:20%;
}
.banner{
	padding-top:5px;
	padding-left:20px;
	width:80%; 
	height:60%;
}
.navigation-utilities-section{
	float:left;
	width:50%;
}
.search-container, .nav-bar{
	height:50px;
	text-align:center;
}
.search-container button {
	margin-left:-25px;
}
.log-account-section{
	float:right;
	width:30%;
	text-align:center;
}
.login-signup{
	padding-top:10px;
}
.account-display-settings{
	right:90%;
}
.account-display-settings ul li{
	padding:2px 0px 2px 20px;
}
.image-photo{
	position:relative;
	left:0;
	height:35px;
	width:35px;
	border:3px solid #2b5959;
	border-radius: 35px 35px;
}
.account-photo-box{
	float:right;
	display:inline-block;
	width:25%;
	height:40px;
	margin-right:15%;
	padding:5px;
}
.dropdown button{
	display:none;
}

/*
=================================================
NAVIGATION & LINKS
=================================================
*/
nav{
	margin:0 ;
	text-align:left;
	padding-top:10px;
	padding-bottom:5px;
	font-size:100%;
}
nav ul{
	text-align:center;
}
nav li{
	display:inline-block;
}
nav ul li a{
	padding:10px 2px;
	
}

/*
===========================================
PAGE GRID 
==========================================
*/
.col-1-5,
.col-2-5,
.col-3-5,
.col-4-5{
	display: inline-block;
	vertical-align: top;
	float:left;
}
.col-1-5{
	width:20%;
}
.col-2-5{
	width:40%;
}
.col-3-5{
	width:60%;
}
.col-4-5{
	width:80%
}
main{
	width:90%;
	padding:5px;
	
}
footer{
	height:40px;
	padding:10px 200px;
}
/*
===========================================
TYPOGRAPHY
==========================================
*/

main h1{
	font-size:160%;
	font-weight:800;	
}
main h2{
	font-size:150%;
	font-weight:600;
}
main h3{
	font-size:140%;
	font-weight:600;
}
main h4{
	font-size:120%;
	font-weight:500;
}
}
@media only screen and (min-width:1200px) {
/*
----------------------------------------------------------------
EXTRA LARGE DEVICES (LARGE LAPTOPS AND DESKTOPS, 1200PX AND UP)
-----------------------------------------------------------------
*/

/*
=================================================
HEADER SECTIONS
=================================================
*/	

header{
	height:120px;
	margin:0;
	}
.banner-bar, .navigation-utilities-section, .log-account-section{
	display:block;
	height:120px;
	margin:0;
	padding:0;
	vertical-align:top;
}
.banner-bar{
	float:left;
	width:20%;
}
.banner{
	padding-top:5px;
	padding-left:20px;
	width:60%; 
	height:60%;
}
.navigation-utilities-section{
	float:left;
	width:60%;
}
.search-container, .nav-bar{
	height:60px;
	text-align:center;
}
.search-container button {
	margin-left:-25px;
}
.log-account-section{
	float:right;
	width:20%;
	text-align:center;
}
.login-signup{
	padding-top:10px;
}
.account-display-settings{
	right:35%;
}
.account-display-settings ul li{
	padding:2px 0 2px 20px;
}
.image-photo{
	height:50px;
	width:50px;
	border-radius: 50px 50px;
}
.account-photo-box{
	width:30%;
	height:60px;
	margin-right:0;
	padding:5px;
	text-align:right;
}
.dropdown button{
	display:none;
}

/*
=================================================
NAVIGATION & LINKS
=================================================
*/
nav{
	margin:0 auto;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
	font-size:90%;
}
nav ul{
	text-align:center;
}
nav li{
	display:inline-block;
}

/*
===========================================
PAGE GRID 
==========================================
*/
.col-1-5,
.col-2-5,
.col-3-5,
.col-4-5{
	display: inline-block;
	vertical-align: top;
	float:left;
}
.col-1-5{
	width:20%;
}
.col-2-5{
	width:40%;
}
.col-3-5{
	width:60%;
}
.col-4-5{
	width:80%
}
main{
	width:90%;
	padding:5px;
}
footer{
	height:40px;
	padding:10px 200px;
}
footer a{
	font-size:90%;
}
/*
===========================================
TYPOGRAPHY
==========================================
*/
main p, li{
	font-size:120%;
}
main ul, ol{
	text-indent: 20px;
	padding: 20px 40px;
}
main table {
	margin:30px 5px;
}
main p{
	padding:10px 0;
}
main h1{
	font-size:180%;
	font-weight:800;	
}
main h2{
	font-size:160%;
	font-weight:600;	
}
main h3{
	font-size:140%;
	font-weight:600;
}
main h4{
	font-size:120%;
	font-weight:500;
}
aside .recent-posts{
	padding-left:50px;
}
.recent-posts h5{
	padding:5px 0;
	line-height:1;
}	
}
@media print
{
  pre{
    overflow-x:visible;
    white-space:pre-wrap;
  }
}