@font-face {
  font-family: 'Aladin';
  src: url("../fonts/Aladin-Regular.ttf");
  font-display: swap; }
@font-face {
  font-family: 'larken';
  src: url("../fonts/larken-bold.ttf");
  font-weight: bold;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
  font-display: swap; }
@font-face {
  font-family: 'Tangerine';
  src: url("../fonts/Tangerine-Regular.ttf");
  font-display: swap; }
input[type="submit"] {
  padding: .6em;
  background-color: #072b61;
  color: #ffffff;
  border: 1px solid #072b61;
  cursor: pointer; }
  input[type="submit"]:hover {
    background-color: #0568ab;
    border-color: #0568ab; }

#subscribe input {
  display: inline-block;
  width: auto;
  font-size: 1em;
  padding: .6em; }
  #subscribe input:active {
    border: solid thin silver; }

.red {
  color: red; }

.errorMsg {
  color: #D83D5A; }

.successMsg {
  color: #6B8E23;
  margin: 10px auto; }

#error_msg {
  text-align: left;
  margin-left: 10px;
  color: red; }

.subscribe_error {
  color: #C04000;
  font-weight: bold;
  padding: 10px 0; }

/* ||Comments section */
.comments-container hr {
  margin: 0;
  border: thin solid silver; }
.comments-container p {
  font-size: 100%; }

.comments-section {
  margin-top: 10px;
  font-family: "Times New Roman";
  font-size: 100%; }
  .comments-section .hide-comment-id {
    display: none; }
  .comments-section .profile-photo {
    float: left;
    max-width: 30px;
    max-height: 30px;
    margin-top: 5px;
    border-radius: 50%;
    overflow: hidden; }
  .comments-section .comments-detail {
    float: right;
    width: 90%;
    margin-top: 5px;
    padding-left: 5px; }
    .comments-section .comments-detail a {
      margin: 0 10px;
      font-family: Arial; }
  .comments-section .comment-text {
    padding-top: 0;
    line-height: 1.2; }
    @media (max-width: 599px) {
      .comments-section .comment-text {
        text-align: left; } }

.user-info .created-date {
  padding-left: 5px;
  font-style: italic; }
.user-info .username {
  font-family: sans-serif;
  color: #323232;
  font-weight: bold;
  font-size: 90%; }

.commenter-image {
  border-radius: 50%; }

.comment textarea {
  border: thin solid #6D7B8D;
  border-radius: 10px;
  width: 90%; }
.comment input[type="submit"] {
  display: block;
  height: 2.5em;
  margin-top: 1em;
  border-radius: 5px; }

.comment-text {
  margin-bottom: 0.5em; }

/* ||Replies */
div[class^="group replies_container_"] {
  display: none;
  margin-top: 0.5em; }

.replies-profile-photo {
  float: left;
  margin-left: 30px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  overflow: hidden; }
  @media (max-width: 599px) {
    .replies-profile-photo {
      margin-left: 10px; } }

.reply {
  width: 100%; }
  @media (max-width: 599px) {
    .reply {
      margin-left: 5px; } }

.reply-thread {
  color: black; }
  @media (min-width: 769px) {
    .reply-thread {
      font-size: 0.9em; } }

.replies-detail {
  float: right;
  width: 85%;
  margin-top: 5px;
  padding: 5px 10px;
  text-align: left;
  line-height: 1.2;
  background: gainsboro;
  border-radius: 0 10px/ 10px 20px; }
  .replies-detail .reply-text {
    text-align: left;
    padding: 3px 0 5px 0; }
  .replies-detail .user-info {
    font-size: 90%; }

.reply-textarea {
  background: whitesmoke;
  border-radius: 10px; }
  @media (min-width: 769px) {
    .reply-textarea {
      margin-left: 5%; } }

.reply-form {
  margin: 5px;
  display: none; }
  @media (max-width: 599px) {
    .reply-form {
      margin-left: 5px; } }

.reply input[type="submit"] {
  display: block;
  border-radius: 5px;
  margin-right: 10%;
  margin-top: 1em; }
  @media (max-width: 599px) {
    .reply input[type="submit"] {
      height: 2.5em; } }
  @media (max-width: 768px) {
    .reply input[type="submit"] {
      height: 2.5em; } }
  @media (min-width: 769px) {
    .reply input[type="submit"] {
      height: 35px;
      margin-left: 5%; } }
@media (max-width: 599px) {
  .reply textarea {
    width: 100%; } }
@media (max-width: 768px) {
  .reply textarea {
    width: 90%; } }
@media (max-width: 599px) {
  .reply .reply-text {
    margin-left: 1%; } }
@media (max-width: 768px) {
  .reply .reply-text {
    margin-left: 1%; } }

.reply-btn {
  padding: 0.25em 0.6em;
  background-color: silver;
  color: black;
  border-radius: 47%; }

.pagination .load-prev {
  display: none; }

/*# sourceMappingURL=subscribe-comments-replies.css.map */
