//Layout using a mixture of grid and flex with media queries
@mixin grid-wrapper {
    display: inline-grid;
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(2em, auto);
    row-gap: 0;
    justify-content: center;
    @include for-tablet-landscape-up {
        row-gap: 1em;
    }
}

@mixin flex-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    @include for-tablet-portrait-down {
        flex-flow: row wrap;
        //justify-content: space-evenly safe;
        align-items: center;
    }
}

//Media queries setup in mixins
@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-down {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 769px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}