//Layout using a mixture of grid and flex with media queries
@mixin grid-wrapper {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(2em, auto);
    row-gap: 0;
    justify-content: center;
}

@mixin flex-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    justify-content: center;
    @include for-tablet-portrait-down {
        flex-flow: row wrap;
        //justify-content: space-evenly safe;
        align-items: center;
    }
}

@mixin col-1-10 {
    width: 10%;
}

@mixin col-2-10 {
    width: 20%;
}

@mixin col-3-10 {
    width: 30%;
}

@mixin col-4-10 {
    width: 40%;
}

@mixin col-5-10 {
    width: 50%;
}

@mixin col-6-10 {
    width: 60%;
}

@mixin col-7-10 {
    width: 70%;
}

@mixin col-8-10 {
    width: 80%;
}

@mixin col-9-10 {
    width: 90%;
}

@mixin col-10-10 {
    width: 100%;
}

//Media queries setup in mixins
@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-down {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 769px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}