@font-face {
    font-family: 'Aladin';
    src: url('../fonts/Aladin-Regular.ttf');
    font-display: swap;
}

$red:rgb(255,
0,
0);
$banana-yellow: rgb(196,
191,
102);
$olive: #0b3128;
$autum-orange: rgb(236,
128,
26);
$deep-red: rgb(80,
14,
12);
$khaki:rgb(151,
148,
127);